In [336]:
import pandas as pd
import numpy as np
import random
import datetime as dt
import statsmodels.api as st
from statistics import mean 
from dateutil import relativedelta
import time

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import GridSearchCV
from imblearn.over_sampling import SMOTE
from sklearn.feature_selection import RFE
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from collections import Counter


import warnings
warnings.filterwarnings('ignore')

In [3]:
def read_data_pandas(filename, sep=','):
    
    df = pd.read_csv(filename, sep=sep)
    cols = df.columns.tolist()
    cols = [col.lower().replace(' ', '_') for col in cols]
    df.columns = cols
    return df

In [4]:
df = read_data_pandas('loan.csv')

In [5]:
df.head()

,record_date,bank_code,branch_code,currency,customer_number,account_number,loan_type,prepayment_indicator,gl_account_number,indicator_for_prime/hibor_based_mortgage,effective_date_of_the_loan,maturity_date_of_the_loan,loan_age,time_to_maturity,scheduled_payment,local_currency_equivalent_scheduled_payment,scheduled_payment_frequency,last_payment,local_currency_equivalent_amount_of_last_payment_received,outstanding_balance
0,2011/8/31,NaN,NaN,NaN,NaN,1080084173 000,NaN,NaN,NaN,NaN,2011/8/9,2011/12/7,NaN,NaN,NaN,148.54,NaN,NaN,NaN,30000.00
1,2011/9/30,NaN,NaN,NaN,NaN,1080084173 000,NaN,NaN,NaN,NaN,2011/8/9,2011/12/7,NaN,NaN,NaN,143.75,NaN,NaN,NaN,30000.00
2,2011/10/31,NaN,NaN,NaN,NaN,1080084173 000,NaN,NaN,NaN,NaN,2011/8/9,2011/12/7,NaN,NaN,NaN,148.54,NaN,NaN,NaN,30000.00
3,2011/11/30,NaN,NaN,NaN,NaN,1080084173 000,NaN,NaN,NaN,NaN,2011/8/9,2011/12/7,NaN,NaN,NaN,30134.16,NaN,NaN,NaN,30000.00
4,2011/5/31,NaN,NaN,NaN,NaN,110039000 000,NaN,NaN,NaN,NaN,2000/1/31,2015/2/1,NaN,NaN,NaN,12976.28,NaN,NaN,NaN,543168.55

In [6]:
# drop nan columns
new = df.dropna(axis=1, how='all')

In [7]:
new.head(5)

,record_date,account_number,effective_date_of_the_loan,maturity_date_of_the_loan,local_currency_equivalent_scheduled_payment,outstanding_balance
0,2011/8/31,1080084173 000,2011/8/9,2011/12/7,148.54,30000.00
1,2011/9/30,1080084173 000,2011/8/9,2011/12/7,143.75,30000.00
2,2011/10/31,1080084173 000,2011/8/9,2011/12/7,148.54,30000.00
3,2011/11/30,1080084173 000,2011/8/9,2011/12/7,30134.16,30000.00
4,2011/5/31,110039000 000,2000/1/31,2015/2/1,12976.28,543168.55

In [8]:
#rename columns to a readable format
new.columns = ['record_date','account_number','effective_date','maturity_date','sch_payment','out_balance']
new.head(5)

,record_date,account_number,effective_date,maturity_date,sch_payment,out_balance
0,2011/8/31,1080084173 000,2011/8/9,2011/12/7,148.54,30000.00
1,2011/9/30,1080084173 000,2011/8/9,2011/12/7,143.75,30000.00
2,2011/10/31,1080084173 000,2011/8/9,2011/12/7,148.54,30000.00
3,2011/11/30,1080084173 000,2011/8/9,2011/12/7,30134.16,30000.00
4,2011/5/31,110039000 000,2000/1/31,2015/2/1,12976.28,543168.55

In [9]:
new[['record_date','effective_date','maturity_date']] = \
new[['record_date','effective_date','maturity_date']].apply(pd.to_datetime,format='%Y/%m/%d')

In [161]:
# difference in years
new['time_to_maturity'] = round((new['maturity_date'] - new['record_date']).dt.days/365)
new['loan_age'] = round((new['record_date'] - new['effective_date']).dt.days/365)
new['loan_age_m'] = round(((new['record_date'] - new['effective_date']).dt.days/365)*12,0)
new['tenor'] = new['time_to_maturity'] + new['loan_age']
new['tenor_m'] = round((new['time_to_maturity'] + new['loan_age'])*12,0)

In [162]:
new.head()

,record_date,account_number,effective_date,maturity_date,sch_payment,out_balance,time_to_maturity,loan_age,tenor,interest_rate,month,loan_age_m,tenor_m
0,2011-08-31,1080084173 000,2011-08-09,2011-12-07,148.54,30000.00,0.0,0.0,0.0,9.27,8,1.0,0.0
1,2011-09-30,1080084173 000,2011-08-09,2011-12-07,143.75,30000.00,0.0,0.0,0.0,5.56,9,2.0,0.0
2,2011-10-31,1080084173 000,2011-08-09,2011-12-07,148.54,30000.00,0.0,0.0,0.0,0.48,10,3.0,0.0
3,2011-11-30,1080084173 000,2011-08-09,2011-12-07,30134.16,30000.00,0.0,0.0,0.0,1.36,11,4.0,0.0
4,2011-05-31,110039000 000,2000-01-31,2015-02-01,12976.28,543168.55,4.0,11.0,15.0,4.40,5,136.0,180.0

In [12]:
# create some extra random columns
new['interest_rate'] = np.random.uniform(0, 20,size = [16231,1])
decimals = 2    
new['interest_rate'] = new['interest_rate'].apply(lambda x: round(x, decimals))

In [13]:
new['month'] = new['record_date'].dt.month.astype(object)

In [163]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16231 entries, 0 to 16230
Data columns (total 13 columns):
record_date         16231 non-null datetime64[ns]
account_number      16231 non-null object
effective_date      16231 non-null datetime64[ns]
maturity_date       16231 non-null datetime64[ns]
sch_payment         16231 non-null float64
out_balance         16231 non-null float64
time_to_maturity    16231 non-null float64
loan_age            16231 non-null float64
tenor               16231 non-null float64
interest_rate       16231 non-null float64
month               16231 non-null object
loan_age_m          16231 non-null float64
tenor_m             16231 non-null float64
dtypes: datetime64[ns](3), float64(8), object(2)
memory usage: 1.6+ MB

In [15]:
account_num = list(set(new['account_number']))
latest_observation = max(new['record_date'])

In [393]:
type(latest_observation)

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
# Find the position where the rows of elements of list == 1 (把只有一期的帳號刪掉)
def del_one_acc(df):
    indexes_to_drop = []
    for acc in account_num:
        tempDF = df[df['account_number']== acc]
        for index in tempDF.index: 
            if len(tempDF)==1: 
                indexes_to_drop.append(index)
    return indexes_to_drop

*speed test*

In [344]:
st=time.time()

indexes_to_drop = []
for acc in account_num:
    tempDF = new[new['account_number']== acc]
    for index, row in tempDF.iterrows(): 
        if len(tempDF)==1: 
            indexes_to_drop.append(index)
print(time.time()-st)

5.142238616943359

In [342]:
st=time.time()

indexes_to_drop = []
for acc in account_num:
    tempDF = new[new['account_number']== acc]
    for index in tempDF.index: 
        if len(tempDF)==1: 
            indexes_to_drop.append(index)
print(time.time() - st)

3.582808017730713

In [17]:
indexes_to_drop = del_one_acc(new)

In [18]:
len(indexes_to_drop)

604

In [19]:
len(new)

16231

In [20]:
len(new) - len(indexes_to_drop)

15627

In [164]:
indexes_to_keep = set(range(new.shape[0])) - set(indexes_to_drop)
df_sliced = new.take(list(indexes_to_keep))

In [165]:
len(df_sliced)

15627

In [166]:
df_sliced = df_sliced.reset_index()

In [167]:
df_sliced = df_sliced.drop(df_sliced.columns[0],axis=1)

In [404]:
def get_prepay_amt(df):
    """
    Calculate prepayment amount
    Data Description: :
        account_number : Account number
        prepay_amt : prepayment amount
        out_balance : Local Currency Equivalent Outstanding Balance of the Loan The outstanding balance of the mortgage loan in local currency
        sch_payment: The scheduled payment for the mortgage loan
        record_date: Record Date The date when the records are observed and recorded
        maturity_date: Date of the Loan the date of maturity for the mortgage loan
    Argument:
        df : desired dataframe
        account_num : a unique list of dataframe's account number 
        latest_observation : the latest observation date within required time frame

    Return:
        new dataframe after appending "prepay_amt"  
    """
    
    
    newDF = pd.DataFrame()

    for acc in account_num:
        tempDF = df[df['account_number']== acc].reset_index()
        tempDF = tempDF.drop(['index'],axis=1)
        for index, row in tempDF.iterrows() : #enumerate into each account
            if index == len(tempDF)-1:    # if it belongs to the last tranction of that account
                if row['record_date'] == latest_observation:   # if its record date is tantamount to lastest observation date 
                    if row['out_balance'] != 0:   # if outstanding balance is not tantamount to zero 
                        tempDF.loc[index,'prepay_amt'] = np.nan    # prepayment is set to NA 
                    elif (row['maturity_date']-row['record_date']) > dt.timedelta(days=0):  # if outstanding bal is tantamount to zero and its Maturity date > Record date  
                        tempDF.loc[index,'prepay_amt'] = max((tempDF.loc[index,'out_balance']- tempDF.loc[index-1,'out_balance'])*(-1) - tempDF.loc[index,'sch_payment'],0)
                        # prepayment amount is calculated by its formula
                    else:  # if outstanding balance is tantamount to zero and Maturiy date <= Record date 
                        tempDF.loc[index,'prepay_amt'] = 0
                else : # if last tranction of that account is not tantamount to lastest observation date 
                    if row['out_balance'] != 0: # and its outsanding bal is not tantamount to zero
                        tempDF.loc[index,'prepay_amt'] = tempDF.loc[index-1,'out_balance']  # then set prepayment as last index's outstanding balance
                    elif (row['maturity_date']- row['record_date']) <= dt.timedelta(days=0) :  # if its outsanding balance is tantamount to zero and its Maturity date < Record date
                        tempDF.loc[index,'prepay_amt'] = 0  #set prepayment amount to zero
                    else:
                        tempDF.loc[index,'prepay_amt'] = max((tempDF.loc[index,'out_balance']- tempDF.loc[index-1,'out_balance'])*(-1) - tempDF.loc[index,'sch_payment'],0)
            else:    
                if index > 0:
                    tempDF.loc[index,'prepay_amt'] =  max((tempDF.loc[index,'out_balance']- tempDF.loc[index-1,'out_balance'])*(-1) - tempDF.loc[index,'sch_payment'],0)
                
        newDF = pd.concat([newDF, tempDF], axis = 0, ignore_index=True)
        
        #newDF = newDF.drop(['index'],axis=1)
        
    return newDF

In [405]:
pp_amt_df = get_prepay_amt(df_sliced)

In [406]:
pp_amt_df

,account_number,effective_date,interest_rate,loan_age,loan_age_m,maturity_date,month,out_balance,prepay_amt,record_date,sch_payment,tenor,tenor_m,time_to_maturity
0,230112000 000,2012-12-26,15.46,0.0,0.0,2013-12-14,12,1000000.00,NaN,2012-12-31,2770.83,1.0,12.0,1.0
1,230112000 000,2012-12-26,4.75,0.0,1.0,2013-12-14,1,1000000.00,0.0,2013-01-31,4520.83,1.0,12.0,1.0
2,230112000 000,2012-12-26,18.11,0.0,2.0,2013-12-14,2,1000000.00,0.0,2013-02-28,4083.33,1.0,12.0,1.0
3,230112000 000,2012-12-26,12.07,0.0,3.0,2013-12-14,3,1000000.00,0.0,2013-03-29,4520.84,1.0,12.0,1.0
4,230112000 000,2012-12-26,12.57,0.0,4.0,2013-12-14,4,1000000.00,0.0,2013-04-30,4375.00,1.0,12.0,1.0
5,230112000 000,2012-12-26,5.42,0.0,5.0,2013-12-14,5,1000000.00,0.0,2013-05-31,4520.83,1.0,12.0,1.0
6,230112000 000,2012-12-26,2.49,1.0,6.0,2013-12-14,6,1000000.00,0.0,2013-06-28,4375.00,1.0,12.0,0.0
7,230112000 000,2012-12-26,6.59,1.0,7.0,2013-12-14,7,1000000.00,1000000.0,2013-07-31,4520.83,1.0,12.0,0.0
8,180105070 000,2013-12-30,5.02,0.0,0.0,2014-04-29,12,80000.00,NaN,2013-12-31,0.00,0.0,0.0,0.0
9,180105070 000,2013-12-30,12.77,0.0,1.0,2014-04-29,1,80000.00,80000.0,2014-01-31,0.00,0.0,0.0,0.0
10,180101031 000,2012-12-05,0.16,0.0,1.0,2013-04-04,12,8000.00,NaN,2012-12-31,37.88,0.0,0.0,0.0
11,180101031 000,2012-12-05,18.93,0.0,2.0,2013-04-04,1,8000.00,0.0,2013-01-31,37.89,0.0,0.0,0.0
12,180101031 000,2012-12-05,14.52,0.0,3.0,2013-04-04,2,8000.00,8000.0,2013-02-28,34.22,0.0,0.0,0.0
13,180106320 000,2015-08-26,10.46,0.0,0.0,2015-12-24,8,170000.00,NaN,2015-08-31,0.00,0.0,0.0,0.0
14,180106320 000,2015-08-26,14.49,0.0,1.0,2015-12-24,9,170000.00,170000.0,2015-09-30,0.00,0.0,0.0,0.0
15,180090144 000,2012-12-12,0.92,0.0,1.0,2013-04-11,12,200000.00,NaN,2012-12-31,818.05,0.0,0.0,0.0
16,180090144 000,2012-12-12,12.57,0.0,2.0,2013-04-11,1,40000.00,200000.0,2013-01-31,818.06,0.0,0.0,0.0
17,180090706 000,2011-04-27,3.68,0.0,1.0,2011-08-25,5,60000.00,NaN,2011-05-31,0.00,0.0,0.0,0.0
18,180090706 000,2011-04-27,10.19,0.0,2.0,2011-08-25,6,60000.00,60000.0,2011-06-30,0.00,0.0,0.0,0.0
19,180090834 000,2011-10-18,0.97,0.0,0.0,2012-02-15,10,125000.00,NaN,2011-10-31,0.00,0.0,0.0,0.0
20,180090834 000,2011-10-18,5.66,0.0,1.0,2012-02-15,11,125000.00,125000.0,2011-11-30,0.00,0.0,0.0,0.0
21,180105127 000,2014-03-25,14.31,0.0,0.0,2014-07-23,3,232000.00,NaN,2014-03-31,0.00,0.0,0.0,0.0
22,180105127 000,2014-03-25,19.75,0.0,1.0,2014-07-23,4,232000.00,232000.0,2014-04-30,0.00,0.0,0.0,0.0
23,180090123 000,2012-11-13,15.30,0.0,1.0,2013-03-13,11,135000.00,NaN,2012-11-30,674.99,0.0,0.0,0.0
24,180090123 000,2012-11-13,3.40,0.0,2.0,2013-03-13,12,135000.00,135000.0,2012-12-31,542.82,0.0,0.0,0.0
25,210193000 000,2015-04-15,11.58,0.0,0.0,2022-03-30,4,4184981.30,NaN,2015-04-30,21143.69,7.0,84.0,7.0
26,210193000 000,2015-04-15,0.10,0.0,1.0,2022-03-30,5,4184981.30,0.0,2015-05-29,21143.69,7.0,84.0,7.0
27,210193000 000,2015-04-15,16.60,0.0,2.0,2022-03-30,6,4167487.99,0.0,2015-06-30,21143.69,7.0,84.0,7.0
28,210193000 000,2015-04-15,10.93,0.0,4.0,2022-03-30,7,4158499.47,0.0,2015-07-31,21143.69,7.0,84.0,7.0
29,210193000 000,2015-04-15,18.55,0.0,5.0,2022-03-30,8,4149889.04,0.0,2015-08-31,21143.69,7.0,84.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15597,110303000 000,2013-01-07,9.03,3.0,36.0,2019-12-31,12,2040744.63,0.0,2015-12-31,12587.72,7.0,84.0,4.0
15598,110303000 000,2013-01-07,9.64,3.0,37.0,2019-12-31,1,2036502.45,0.0,2016-01-29,12587.72,7.0,84.0,4.0
15599,110303000 000,2013-01-07,4.15,3.0,38.0,2019-12-31,2,2031705.51,0.0,2016-02-29,12587.72,7.0,84.0,4.0
15600,110303000 000,2013-01-07,7.54,3.0,39.0,2019-12-31,3,2027428.03,0.0,2016-03-31,12587.72,7.0,84.0,4.0
15601,110303000 000,2013-01-07,15.86,3.0,40.0,2019-12-31,4,2022863.85,0.0,2016-04-29,12587.72,7.0,84.0,4.0
15602,110303000 000,2013-01-07,4.45,3.0,41.0,2019-12-31,5,2018549.00,NaN,2016-05-31,12587.72,7.0,84.0,4.0
15603,180091015 000,2013-08-28,8.39,0.0,0.0,2013-12-26,8,140000.00,NaN,2013-08-30,0.00,0.0,0.0,0.0
15604,180091015 000,2013-08-28,7.95,0.0,1.0,2013-12-26,9,140000.00,140000.0,2013-09-30,0.00,0.0,0.0,0.0
15605,180101013 000,2012-09-25,16.59,0.0,0.0,2012-11-30,9,25000.00,NaN,2012-09-28,0.00,0.0,0.0,0.0
15606,180101013 000,2012-09-25,8.42,0.0,1.0,2012-11-30,10,25000.00,0.0,2012-10-31,25000.00,0.0,0.0,0.0
15607,180101013 000,2012-09-25,5.30,0.0,2.0,2012-11-30,11,25000.00,25000.0,2012-11-30,25129.86,0.0,0.0,0.0
15608,180090716 000,2011-05-09,7.42,0.0,1.0,2011-09-06,5,55000.00,NaN,2011-05-31,284.16,0.0,0.0,0.0
15609,180090716 000,2011-05-09,10.03,0.0,2.0,2011-09-06,6,55000.00,55000.0,2011-06-30,275.00,0.0,0.0,0.0
15610,180106497 000,2016-04-29,9.55,0.0,0.0,2016-08-27,4,55000.00,NaN,2016-04-29,0.00,0.0,0.0,0.0
15611,180106497 000,2016-04-29,10.16,0.0,1.0,2016-08-27,5,55000.00,NaN,2016-05-31,0.00,0.0,0.0,0.0
15612,180106138 000,2014-11-26,17.29,0.0,0.0,2015-03-26,11,85000.00,NaN,2014-11-28,0.00,0.0,0.0,0.0
15613,180106138 000,2014-11-26,2.56,0.0,1.0,2015-03-26,12,85000.00,85000.0,2014-12-31,0.00,0.0,0.0,0.0
15614,230109000 000,2012-10-25,10.02,0.0,0.0,2013-10-15,10,0.00,NaN,2012-10-31,0.00,1.0,12.0,1.0
15615,230109000 000,2012-10-25,0.43,0.0,1.0,2013-10-15,11,0.00,-0.0,2012-11-30,0.00,1.0,12.0,1.0
15616,230109000 000,2012-10-25,14.38,0.0,2.0,2013-10-15,12,0.00,-0.0,2012-12-31,0.00,1.0,12.0,1.0
15617,230109000 000,2012-10-25,11.30,0.0,3.0,2013-10-15,1,0.00,-0.0,2013-01-31,0.00,1.0,12.0,1.0
15618,230109000 000,2012-10-25,14.23,0.0,4.0,2013-10-15,2,0.00,-0.0,2013-02-28,0.00,1.0,12.0,1.0
15619,230109000 000,2012-10-25,2.31,0.0,5.0,2013-10-15,3,0.00,-0.0,2013-03-29,0.00,1.0,12.0,1.0
15620,230109000 000,2012-10-25,2.74,1.0,6.0,2013-10-15,4,0.00,-0.0,2013-04-30,0.00,1.0,12.0,0.0
15621,230109000 000,2012-10-25,5.38,1.0,7.0,2013-10-15,5,0.00,-0.0,2013-05-31,0.00,1.0,12.0,0.0
15622,230109000 000,2012-10-25,15.96,1.0,8.0,2013-10-15,6,0.00,-0.0,2013-06-28,0.00,1.0,12.0,0.0
15623,230109000 000,2012-10-25,16.81,1.0,9.0,2013-10-15,7,0.00,-0.0,2013-07-31,0.00,1.0,12.0,0.0
15624,230109000 000,2012-10-25,17.37,1.0,10.0,2013-10-15,8,0.00,-0.0,2013-08-30,0.00,1.0,12.0,0.0
15625,230109000 000,2012-10-25,11.07,1.0,11.0,2013-10-15,9,0.00,-0.0,2013-09-30,0.00,1.0,12.0,0.0
15626,230109000 000,2012-10-25,4.33,1.0,12.0,2013-10-15,10,0.00,0.0,2013-10-31,0.00,1.0,12.0,-0.0

In [397]:
def get_prepay_rate(df):
   
    '''
    RREPAY_RATIO: The ratio of the prepayment amount to the current outstanding balance
    BAL_LCE : Local Currency Equivalent Outstanding Balance of the Loan The outstanding balance of 
             the mortgage loan in local currency
    ''' 
    newDF = pd.DataFrame()
    for acc in account_num:
        tempDF = df[df['account_number']== acc].reset_index()
        for index in tempDF.index:
            if index == 0 :
                continue
            tempDF.loc[index,'prepay_ratio'] = tempDF.loc[index,'prepay_amt'] / tempDF.loc[index-1,'out_balance']
        
        newDF = pd.concat([newDF,tempDF],ignore_index=True)
        #print(f'this is newDF: \n {newDF}')   
            
    return newDF

*soeed test*

In [347]:
st=time.time()
newDF = pd.DataFrame()
for acc in account_num:
    tempDF = pp_amt_df[pp_amt_df['account_number']== acc].reset_index()
    for index, row in tempDF.iterrows():
        if index == 0 :
            continue
        tempDF.loc[index,'prepay_ratio'] = tempDF.loc[index,'prepay_amt'] / tempDF.loc[index-1,'out_balance']

    newDF = pd.concat([newDF,tempDF],ignore_index=True)
print(time.time()-st)

30.318856239318848

In [348]:
st=time.time()
newDF = pd.DataFrame()
for acc in account_num:
    tempDF = pp_amt_df[pp_amt_df['account_number']== acc].reset_index()
    for index in tempDF.index:
        if index == 0 :
            continue
        tempDF.loc[index,'prepay_ratio'] = tempDF.loc[index,'prepay_amt'] / tempDF.loc[index-1,'out_balance']

    newDF = pd.concat([newDF,tempDF],ignore_index=True)
print(time.time()-st)

23.003831386566162

In [398]:
pp_rate_df = get_prepay_rate(pp_amt_df)

In [399]:
pp_rate_df

,account_number,effective_date,index,interest_rate,level_0,loan_age,loan_age_m,maturity_date,month,out_balance,prepay_amt,prepay_ratio,record_date,sch_payment,tenor,tenor_m,time_to_maturity
0,230112000 000,2012-12-26,10892,15.46,0,0.0,0.0,2013-12-14,12,1000000.00,NaN,NaN,2012-12-31,2770.83,1.0,12.0,1.0
1,230112000 000,2012-12-26,10893,4.75,1,0.0,1.0,2013-12-14,1,1000000.00,0.0,0.0,2013-01-31,4520.83,1.0,12.0,1.0
2,230112000 000,2012-12-26,10894,18.11,2,0.0,2.0,2013-12-14,2,1000000.00,0.0,0.0,2013-02-28,4083.33,1.0,12.0,1.0
3,230112000 000,2012-12-26,10895,12.07,3,0.0,3.0,2013-12-14,3,1000000.00,0.0,0.0,2013-03-29,4520.84,1.0,12.0,1.0
4,230112000 000,2012-12-26,10896,12.57,4,0.0,4.0,2013-12-14,4,1000000.00,0.0,0.0,2013-04-30,4375.00,1.0,12.0,1.0
5,230112000 000,2012-12-26,10897,5.42,5,0.0,5.0,2013-12-14,5,1000000.00,0.0,0.0,2013-05-31,4520.83,1.0,12.0,1.0
6,230112000 000,2012-12-26,10898,2.49,6,1.0,6.0,2013-12-14,6,1000000.00,0.0,0.0,2013-06-28,4375.00,1.0,12.0,0.0
7,230112000 000,2012-12-26,10899,6.59,7,1.0,7.0,2013-12-14,7,1000000.00,1000000.0,1.0,2013-07-31,4520.83,1.0,12.0,0.0
8,180105070 000,2013-12-30,7195,5.02,8,0.0,0.0,2014-04-29,12,80000.00,NaN,NaN,2013-12-31,0.00,0.0,0.0,0.0
9,180105070 000,2013-12-30,7196,12.77,9,0.0,1.0,2014-04-29,1,80000.00,80000.0,1.0,2014-01-31,0.00,0.0,0.0,0.0
10,180101031 000,2012-12-05,6870,0.16,10,0.0,1.0,2013-04-04,12,8000.00,NaN,NaN,2012-12-31,37.88,0.0,0.0,0.0
11,180101031 000,2012-12-05,6871,18.93,11,0.0,2.0,2013-04-04,1,8000.00,0.0,0.0,2013-01-31,37.89,0.0,0.0,0.0
12,180101031 000,2012-12-05,6872,14.52,12,0.0,3.0,2013-04-04,2,8000.00,8000.0,1.0,2013-02-28,34.22,0.0,0.0,0.0
13,180106320 000,2015-08-26,7707,10.46,13,0.0,0.0,2015-12-24,8,170000.00,NaN,NaN,2015-08-31,0.00,0.0,0.0,0.0
14,180106320 000,2015-08-26,7708,14.49,14,0.0,1.0,2015-12-24,9,170000.00,170000.0,1.0,2015-09-30,0.00,0.0,0.0,0.0
15,180090144 000,2012-12-12,5126,0.92,15,0.0,1.0,2013-04-11,12,200000.00,NaN,NaN,2012-12-31,818.05,0.0,0.0,0.0
16,180090144 000,2012-12-12,5127,12.57,16,0.0,2.0,2013-04-11,1,40000.00,200000.0,1.0,2013-01-31,818.06,0.0,0.0,0.0
17,180090706 000,2011-04-27,5408,3.68,17,0.0,1.0,2011-08-25,5,60000.00,NaN,NaN,2011-05-31,0.00,0.0,0.0,0.0
18,180090706 000,2011-04-27,5409,10.19,18,0.0,2.0,2011-08-25,6,60000.00,60000.0,1.0,2011-06-30,0.00,0.0,0.0,0.0
19,180090834 000,2011-10-18,5741,0.97,19,0.0,0.0,2012-02-15,10,125000.00,NaN,NaN,2011-10-31,0.00,0.0,0.0,0.0
20,180090834 000,2011-10-18,5742,5.66,20,0.0,1.0,2012-02-15,11,125000.00,125000.0,1.0,2011-11-30,0.00,0.0,0.0,0.0
21,180105127 000,2014-03-25,7263,14.31,21,0.0,0.0,2014-07-23,3,232000.00,NaN,NaN,2014-03-31,0.00,0.0,0.0,0.0
22,180105127 000,2014-03-25,7264,19.75,22,0.0,1.0,2014-07-23,4,232000.00,232000.0,1.0,2014-04-30,0.00,0.0,0.0,0.0
23,180090123 000,2012-11-13,5098,15.30,23,0.0,1.0,2013-03-13,11,135000.00,NaN,NaN,2012-11-30,674.99,0.0,0.0,0.0
24,180090123 000,2012-11-13,5099,3.40,24,0.0,2.0,2013-03-13,12,135000.00,135000.0,1.0,2012-12-31,542.82,0.0,0.0,0.0
25,210193000 000,2015-04-15,9957,11.58,25,0.0,0.0,2022-03-30,4,4184981.30,NaN,NaN,2015-04-30,21143.69,7.0,84.0,7.0
26,210193000 000,2015-04-15,9958,0.10,26,0.0,1.0,2022-03-30,5,4184981.30,0.0,0.0,2015-05-29,21143.69,7.0,84.0,7.0
27,210193000 000,2015-04-15,9959,16.60,27,0.0,2.0,2022-03-30,6,4167487.99,0.0,0.0,2015-06-30,21143.69,7.0,84.0,7.0
28,210193000 000,2015-04-15,9960,10.93,28,0.0,4.0,2022-03-30,7,4158499.47,0.0,0.0,2015-07-31,21143.69,7.0,84.0,7.0
29,210193000 000,2015-04-15,9961,18.55,29,0.0,5.0,2022-03-30,8,4149889.04,0.0,0.0,2015-08-31,21143.69,7.0,84.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15597,110303000 000,2013-01-07,3034,9.03,15597,3.0,36.0,2019-12-31,12,2040744.63,0.0,0.0,2015-12-31,12587.72,7.0,84.0,4.0
15598,110303000 000,2013-01-07,3035,9.64,15598,3.0,37.0,2019-12-31,1,2036502.45,0.0,0.0,2016-01-29,12587.72,7.0,84.0,4.0
15599,110303000 000,2013-01-07,3036,4.15,15599,3.0,38.0,2019-12-31,2,2031705.51,0.0,0.0,2016-02-29,12587.72,7.0,84.0,4.0
15600,110303000 000,2013-01-07,3037,7.54,15600,3.0,39.0,2019-12-31,3,2027428.03,0.0,0.0,2016-03-31,12587.72,7.0,84.0,4.0
15601,110303000 000,2013-01-07,3038,15.86,15601,3.0,40.0,2019-12-31,4,2022863.85,0.0,0.0,2016-04-29,12587.72,7.0,84.0,4.0
15602,110303000 000,2013-01-07,3039,4.45,15602,3.0,41.0,2019-12-31,5,2018549.00,NaN,NaN,2016-05-31,12587.72,7.0,84.0,4.0
15603,180091015 000,2013-08-28,6147,8.39,15603,0.0,0.0,2013-12-26,8,140000.00,NaN,NaN,2013-08-30,0.00,0.0,0.0,0.0
15604,180091015 000,2013-08-28,6148,7.95,15604,0.0,1.0,2013-12-26,9,140000.00,140000.0,1.0,2013-09-30,0.00,0.0,0.0,0.0
15605,180101013 000,2012-09-25,6823,16.59,15605,0.0,0.0,2012-11-30,9,25000.00,NaN,NaN,2012-09-28,0.00,0.0,0.0,0.0
15606,180101013 000,2012-09-25,6824,8.42,15606,0.0,1.0,2012-11-30,10,25000.00,0.0,0.0,2012-10-31,25000.00,0.0,0.0,0.0
15607,180101013 000,2012-09-25,6825,5.30,15607,0.0,2.0,2012-11-30,11,25000.00,25000.0,1.0,2012-11-30,25129.86,0.0,0.0,0.0
15608,180090716 000,2011-05-09,5428,7.42,15608,0.0,1.0,2011-09-06,5,55000.00,NaN,NaN,2011-05-31,284.16,0.0,0.0,0.0
15609,180090716 000,2011-05-09,5429,10.03,15609,0.0,2.0,2011-09-06,6,55000.00,55000.0,1.0,2011-06-30,275.00,0.0,0.0,0.0
15610,180106497 000,2016-04-29,7942,9.55,15610,0.0,0.0,2016-08-27,4,55000.00,NaN,NaN,2016-04-29,0.00,0.0,0.0,0.0
15611,180106497 000,2016-04-29,7943,10.16,15611,0.0,1.0,2016-08-27,5,55000.00,NaN,NaN,2016-05-31,0.00,0.0,0.0,0.0
15612,180106138 000,2014-11-26,7494,17.29,15612,0.0,0.0,2015-03-26,11,85000.00,NaN,NaN,2014-11-28,0.00,0.0,0.0,0.0
15613,180106138 000,2014-11-26,7495,2.56,15613,0.0,1.0,2015-03-26,12,85000.00,85000.0,1.0,2014-12-31,0.00,0.0,0.0,0.0
15614,230109000 000,2012-10-25,10822,10.02,15614,0.0,0.0,2013-10-15,10,0.00,NaN,NaN,2012-10-31,0.00,1.0,12.0,1.0
15615,230109000 000,2012-10-25,10823,0.43,15615,0.0,1.0,2013-10-15,11,0.00,-0.0,NaN,2012-11-30,0.00,1.0,12.0,1.0
15616,230109000 000,2012-10-25,10824,14.38,15616,0.0,2.0,2013-10-15,12,0.00,-0.0,NaN,2012-12-31,0.00,1.0,12.0,1.0
15617,230109000 000,2012-10-25,10825,11.30,15617,0.0,3.0,2013-10-15,1,0.00,-0.0,NaN,2013-01-31,0.00,1.0,12.0,1.0
15618,230109000 000,2012-10-25,10826,14.23,15618,0.0,4.0,2013-10-15,2,0.00,-0.0,NaN,2013-02-28,0.00,1.0,12.0,1.0
15619,230109000 000,2012-10-25,10827,2.31,15619,0.0,5.0,2013-10-15,3,0.00,-0.0,NaN,2013-03-29,0.00,1.0,12.0,1.0
15620,230109000 000,2012-10-25,10828,2.74,15620,1.0,6.0,2013-10-15,4,0.00,-0.0,NaN,2013-04-30,0.00,1.0,12.0,0.0
15621,230109000 000,2012-10-25,10829,5.38,15621,1.0,7.0,2013-10-15,5,0.00,-0.0,NaN,2013-05-31,0.00,1.0,12.0,0.0
15622,230109000 000,2012-10-25,10830,15.96,15622,1.0,8.0,2013-10-15,6,0.00,-0.0,NaN,2013-06-28,0.00,1.0,12.0,0.0
15623,230109000 000,2012-10-25,10831,16.81,15623,1.0,9.0,2013-10-15,7,0.00,-0.0,NaN,2013-07-31,0.00,1.0,12.0,0.0
15624,230109000 000,2012-10-25,10832,17.37,15624,1.0,10.0,2013-10-15,8,0.00,-0.0,NaN,2013-08-30,0.00,1.0,12.0,0.0
15625,230109000 000,2012-10-25,10833,11.07,15625,1.0,11.0,2013-10-15,9,0.00,-0.0,NaN,2013-09-30,0.00,1.0,12.0,0.0
15626,230109000 000,2012-10-25,10834,4.33,15626,1.0,12.0,2013-10-15,10,0.00,0.0,NaN,2013-10-31,0.00,1.0,12.0,-0.0

In [173]:
pp_rate_df['IS_PREPAY'] = np.where(pp_rate_df['prepay_amt'] > 0,1,0)
pp_rate_df['IS_PREPAY'] = np.where(np.isnan(pp_rate_df['prepay_amt']),np.nan,pp_rate_df['IS_PREPAY'])

In [51]:
def get_prepayment_indicator(df):

    df['IS_FULL'] = np.where((df['prepay_ratio']== 1) & (~np.isnan(df['prepay_ratio'])),1,0)
    df['IS_FULL'] = np.where(np.isnan(df['prepay_ratio']),np.nan,df.IS_FULL)
    df['IS_PARTIAL'] = np.where((df['prepay_ratio'] < 1) & (df['prepay_ratio'] > 0) & (~np.isnan(df['prepay_ratio'])),1,0)
    df['IS_PARTIAL'] = np.where( np.isnan(df['prepay_ratio']),np.nan,df.IS_PARTIAL)

    return df['IS_FULL'],df['IS_PARTIAL']

In [174]:
pp_rate_df['IS_FULL'],pp_rate_df['IS_PARTIAL'] = get_prepayment_indicator(pp_rate_df)

In [175]:
pp_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15627 entries, 0 to 12
Data columns (total 18 columns):
account_number      15627 non-null object
effective_date      15627 non-null datetime64[ns]
interest_rate       15627 non-null float64
loan_age            15627 non-null float64
loan_age_m          15627 non-null float64
maturity_date       15627 non-null datetime64[ns]
month               15627 non-null object
out_balance         15627 non-null float64
prepay_amt          13693 non-null float64
prepay_ratio        12256 non-null float64
record_date         15627 non-null datetime64[ns]
sch_payment         15627 non-null float64
tenor               15627 non-null float64
tenor_m             15627 non-null float64
time_to_maturity    15627 non-null float64
IS_PREPAY           13693 non-null float64
IS_FULL             12256 non-null float64
IS_PARTIAL          12256 non-null float64
dtypes: datetime64[ns](3), float64(13), object(2)
memory usage: 2.3+ MB

In [176]:
sum(pp_rate_df.IS_PARTIAL==1) + sum(pp_rate_df.IS_FULL==1)

2456

In [177]:
#CHECK
sum(pp_rate_df.IS_PREPAY==1)

2456

In [48]:
total_acc = np.unique(pp_rate_df['account_number'])

In [49]:
total_acc.shape

(1751,)

In [178]:
loan = pp_rate_df.drop(['effective_date', 'maturity_date'], axis=1)

In [179]:
#check nan values at first
loan.isnull().sum()

account_number         0
interest_rate          0
loan_age               0
loan_age_m             0
month                  0
out_balance            0
prepay_amt          1934
prepay_ratio        3371
record_date            0
sch_payment            0
tenor                  0
tenor_m                0
time_to_maturity       0
IS_PREPAY           1934
IS_FULL             3371
IS_PARTIAL          3371
dtype: int64

In [180]:
# drop nan value
loan = loan.dropna()

In [181]:
loan.isnull().sum()

account_number      0
interest_rate       0
loan_age            0
loan_age_m          0
month               0
out_balance         0
prepay_amt          0
prepay_ratio        0
record_date         0
sch_payment         0
tenor               0
tenor_m             0
time_to_maturity    0
IS_PREPAY           0
IS_FULL             0
IS_PARTIAL          0
dtype: int64

In [183]:
logist_loan = loan.reset_index()
logist_loan = logist_loan.drop(['index'],axis=1)

In [184]:
# save desired columns aside at first
record_date = logist_loan['record_date']
month = logist_loan['month']
IS_FULL = logist_loan['IS_FULL']
IS_PARTIAL = logist_loan['IS_PARTIAL']

In [320]:
account_number = logist_loan['account_number']

In [185]:
not_dummies_cols = [col for col in loan.columns if col != 'month']

<p> convert "month" to dummy variales </p>

In [186]:
logist_df = pd.get_dummies(logist_loan, columns=['month'])

In [187]:
logist_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12256 entries, 0 to 12255
Data columns (total 27 columns):
account_number      12256 non-null object
interest_rate       12256 non-null float64
loan_age            12256 non-null float64
loan_age_m          12256 non-null float64
out_balance         12256 non-null float64
prepay_amt          12256 non-null float64
prepay_ratio        12256 non-null float64
record_date         12256 non-null datetime64[ns]
sch_payment         12256 non-null float64
tenor               12256 non-null float64
tenor_m             12256 non-null float64
time_to_maturity    12256 non-null float64
IS_PREPAY           12256 non-null float64
IS_FULL             12256 non-null float64
IS_PARTIAL          12256 non-null float64
month_1             12256 non-null uint8
month_2             12256 non-null uint8
month_3             12256 non-null uint8
month_4             12256 non-null uint8
month_5             12256 non-null uint8
month_6             12256 non-null uint8
month_7             12256 non-null uint8
month_8             12256 non-null uint8
month_9             12256 non-null uint8
month_10            12256 non-null uint8
month_11            12256 non-null uint8
month_12            12256 non-null uint8
dtypes: datetime64[ns](1), float64(13), object(1), uint8(12)
memory usage: 1.5+ MB

In [188]:
dummies_cols = [col for col in logist_df.columns if col not in not_dummies_cols]

In [189]:
dummies_df = logist_df[dummies_cols]

# Model part : logistic regression 


### 1. Removing Correlated Features
<p> The main issue of <b>RFE</b> is that it can be expensive to run — so you should do anything you can to reduce the number of features beforehand. Removing correlated features is a great way to do so because as you probably know, you don’t want highly correlated features in your dataset because they provide the same information — one is enough.</p>

###  2. Initialise with Scaler
<p> It transforms the data in such a manner that it has mean as 0 and standard deviation as 1. In short, it standardizes the data. Standardization is useful for data which has negative values. It arranges the data in a standard normal distribution. It is more useful in classification than regression. </p>

### 3. Oversample data with SMOTE
<p>Oversampling is used when the quantity of data is insufficient. It tries to balance dataset by increasing the size of rare samples. Rather than getting rid of abundant samples, new rare samples are generated by using e.g. repetition, bootstrapping or SMOTE (Synthetic Minority Over-Sampling Technique) </p>

### 4. Predict with logistic regression
<p> Logistic regression in one of the most common techniques to solve classiﬁcation problems. In our speciﬁc case, we are going to see whether a mortgage will prepay (Yi = 1) or not (Yi = 0) and $p=P(Y=1|X1,X2,…,Xt)$ is the probability of prepayment conditional on explanatory factors $X1,X2,…,Xt$.</p>

In [190]:
def remove_cor_features(data,threshold=0.8):
    correlated_features = set()
    correlation_matrix = data.drop(['IS_FULL','IS_PARTIAL'], axis=1).corr()

    for i in range(len(correlation_matrix.columns)):
        for j in range(i):
            if abs(correlation_matrix.iloc[i, j]) > threshold:
                colname = correlation_matrix.columns[i]
                correlated_features.add(colname)
    return correlated_features

In [191]:
correlated_features = remove_cor_features(logist_loan)
print(correlated_features)

{'loan_age_m', 'time_to_maturity', 'tenor_m'}

In [186]:
#final.drop(labels=correlated_features, axis=1, inplace=True)

#### " IS_FULL" MODEL

In [192]:
X_f = logist_df.drop(['record_date', 'account_number', 'IS_PREPAY', 'IS_FULL', 'IS_PARTIAL'], axis=1)
X_f = X_f.drop(dummies_cols, axis=1)
y_f = logist_df['IS_FULL'].values

select_features = get_rfe(X_f, y_f)
selectcols = X_f.columns[np.where(select_features)]
print(f'Select index: {selectcols}')

Xf_train = X_f[selectcols]
Xf_train = pd.concat([Xf_train, dummies_df], axis=1) 

yf_pred, yf_prob = model_predict(Xf_train, y_f)
yf_result_df = pd.DataFrame({'full_pred': yf_pred, 'full_prob': yf_prob}, columns=['full_pred', 'full_prob'])

full_result = pd.concat([Xf_train, month, yf_result_df], axis=1, join_axes=[Xf_train.index])
full_result = full_result.drop(dummies_cols, axis=1)

print(f'IS_FULL result: \n {full_result}')

Num Features:10
Selected Features:[ True  True  True  True  True  True  True  True  True  True]
Feature Ranking:[1 1 1 1 1 1 1 1 1 1]
Select index: Index(['interest_rate', 'loan_age', 'loan_age_m', 'out_balance', 'prepay_amt',
       'prepay_ratio', 'sch_payment', 'tenor', 'tenor_m', 'time_to_maturity'],
      dtype='object')
original distribution: Counter({0.0: 10730, 1.0: 1526})
new distribution: Counter({0.0: 10702, 1.0: 1554})
IS_FULL result:
        interest_rate  loan_age  loan_age_m  out_balance  prepay_amt  \
0               4.75       0.0         1.0   1000000.00         0.0
1              18.11       0.0         2.0   1000000.00         0.0
2              12.07       0.0         3.0   1000000.00         0.0
3              12.57       0.0         4.0   1000000.00         0.0
4               5.42       0.0         5.0   1000000.00         0.0
5               2.49       1.0         6.0   1000000.00         0.0
6               6.59       1.0         7.0   1000000.00   1000000.0
7              12.77       0.0         1.0     80000.00     80000.0
8              18.93       0.0         2.0      8000.00         0.0
9              14.52       0.0         3.0      8000.00      8000.0
10             14.49       0.0         1.0    170000.00    170000.0
11             12.57       0.0         2.0     40000.00    200000.0
12             10.19       0.0         2.0     60000.00     60000.0
13              5.66       0.0         1.0    125000.00    125000.0
14             19.75       0.0         1.0    232000.00    232000.0
15              3.40       0.0         2.0    135000.00    135000.0
16              0.10       0.0         1.0   4184981.30         0.0
17             16.60       0.0         2.0   4167487.99         0.0
18             10.93       0.0         4.0   4158499.47         0.0
19             18.55       0.0         5.0   4149889.04         0.0
20              4.13       0.0         6.0   4141253.49         0.0
21              7.34       1.0         7.0   4132188.46         0.0
22              8.15       1.0         8.0   4123498.72         0.0
23             11.49       1.0         9.0   4114381.90         0.0
24             19.82       1.0        10.0   4114381.90         0.0
25             10.73       1.0        11.0   4097467.45         0.0
26              6.82       1.0        12.0   4088568.67         0.0
27              2.71       1.0        12.0   4088568.67         0.0
28              5.24       0.0         2.0     45000.00         0.0
29             18.69       0.0         3.0     45000.00     45000.0
...              ...       ...         ...          ...         ...
12226           9.04       1.0        16.0   2124674.51         0.0
12227           3.85       1.0        17.0   2120776.20         0.0
12228          12.79       1.0        18.0   2116581.68         0.0
12229           9.62       2.0        19.0   2112651.36         0.0
12230          17.59       2.0        20.0   2108703.42         0.0
12231          10.38       2.0        21.0   2104461.09         0.0
12232          14.25       2.0        22.0   2100480.64         0.0
12233          13.79       2.0        23.0   2096205.75         0.0
12234           6.00       2.0        24.0   2092190.96         0.0
12235          11.93       2.0        25.0   2088159.82         0.0
12236          13.11       2.0        26.0   2088159.82         0.0
12237           4.33       2.0        27.0   2079219.88         0.0
12238          14.12       2.0        28.0   2074861.87         0.0
12239          11.20       2.0        29.0   2070759.76         0.0
12240          13.48       2.0        30.0   2066367.17         0.0
12241          14.38       3.0        31.0   2062230.89         0.0
12242          10.30       3.0        32.0   2058076.63         0.0
12243           1.78       3.0        33.0   2053633.82         0.0
12244          12.73       3.0        34.0   2049444.86         0.0
12245          12.27       3.0        35.0   2044967.87         0.0
12246           9.03       3.0        36.0   2040744.63         0.0
12247           9.64       3.0        37.0   2036502.45         0.0
12248           4.15       3.0        38.0   2031705.51         0.0
12249           7.54       3.0        39.0   2027428.03         0.0
12250          15.86       3.0        40.0   2022863.85         0.0
12251           7.95       0.0         1.0    140000.00    140000.0
12252           8.42       0.0         1.0     25000.00         0.0
12253           5.30       0.0         2.0     25000.00     25000.0
12254          10.03       0.0         2.0     55000.00     55000.0
12255           2.56       0.0         1.0     85000.00     85000.0

       prepay_ratio  sch_payment  tenor  tenor_m  time_to_maturity month  \
0               0.0      4520.83    1.0     12.0               1.0     1
1               0.0      4083.33    1.0     12.0               1.0     2
2               0.0      4520.84    1.0     12.0               1.0     3
3               0.0      4375.00    1.0     12.0               1.0     4
4               0.0      4520.83    1.0     12.0               1.0     5
5               0.0      4375.00    1.0     12.0               0.0     6
6               1.0      4520.83    1.0     12.0               0.0     7
7               1.0         0.00    0.0      0.0               0.0     1
8               0.0        37.89    0.0      0.0               0.0     1
9               1.0        34.22    0.0      0.0               0.0     2
10              1.0         0.00    0.0      0.0               0.0     9
11              1.0       818.06    0.0      0.0               0.0     1
12              1.0         0.00    0.0      0.0               0.0     6
13              1.0         0.00    0.0      0.0               0.0    11
14              1.0         0.00    0.0      0.0               0.0     4
15              1.0       542.82    0.0      0.0               0.0    12
16              0.0     21143.69    7.0     84.0               7.0     5
17              0.0     21143.69    7.0     84.0               7.0     6
18              0.0     21143.69    7.0     84.0               7.0     7
19              0.0     21143.69    7.0     84.0               7.0     8
20              0.0     21143.69    7.0     84.0               7.0     9
21              0.0     21143.69    7.0     84.0               6.0    10
22              0.0     21143.69    7.0     84.0               6.0    11
23              0.0     21143.69    7.0     84.0               6.0    12
24              0.0     21703.36    7.0     84.0               6.0     1
25              0.0     21703.36    7.0     84.0               6.0     2
26              0.0     21703.36    7.0     84.0               6.0     3
27              0.0     21703.36    7.0     84.0               6.0     4
28              0.0       215.62    0.0      0.0               0.0     9
29              1.0       222.82    0.0      0.0               0.0    10
...             ...          ...    ...      ...               ...   ...
12226           0.0     12587.72    7.0     84.0               6.0     4
12227           0.0     12587.72    7.0     84.0               6.0     5
12228           0.0     12587.72    7.0     84.0               6.0     6
12229           0.0     12587.72    7.0     84.0               5.0     7
12230           0.0     12587.72    7.0     84.0               5.0     8
12231           0.0     12587.72    7.0     84.0               5.0     9
12232           0.0     12587.72    7.0     84.0               5.0    10
12233           0.0     12587.72    7.0     84.0               5.0    11
12234           0.0     12587.72    7.0     84.0               5.0    12
12235           0.0     12587.72    7.0     84.0               5.0     1
12236           0.0     12587.72    7.0     84.0               5.0     2
12237           0.0     12587.72    7.0     84.0               5.0     3
12238           0.0     12587.72    7.0     84.0               5.0     4
12239           0.0     12587.72    7.0     84.0               5.0     5
12240           0.0     12587.72    7.0     84.0               5.0     6
12241           0.0     12587.72    7.0     84.0               4.0     7
12242           0.0     12587.72    7.0     84.0               4.0     8
12243           0.0     12587.72    7.0     84.0               4.0     9
12244           0.0     12587.72    7.0     84.0               4.0    10
12245           0.0     12587.72    7.0     84.0               4.0    11
12246           0.0     12587.72    7.0     84.0               4.0    12
12247           0.0     12587.72    7.0     84.0               4.0     1
12248           0.0     12587.72    7.0     84.0               4.0     2
12249           0.0     12587.72    7.0     84.0               4.0     3
12250           0.0     12587.72    7.0     84.0               4.0     4
12251           1.0         0.00    0.0      0.0               0.0     9
12252           0.0     25000.00    0.0      0.0               0.0    10
12253           1.0     25129.86    0.0      0.0               0.0    11
12254           1.0       275.00    0.0      0.0               0.0     6
12255           1.0         0.00    0.0      0.0               0.0    12

       full_pred  full_prob
0            0.0   0.000839
1            0.0   0.000371
2            0.0   0.000292
3            0.0   0.000180
4            0.0   0.000267
5            0.0   0.000246
6            1.0   0.998347
7            1.0   0.999580
8            0.0   0.000625
9            1.0   0.999088
10           1.0   0.998421
11           1.0   0.999562
12           1.0   0.998876
13           1.0   0.998576
14           1.0   0.998127
15           1.0   0.997130
16           0.0   0.000562
17           0.0   0.000572
18           0.0   0.000481
19           0.0   0.000348
20           0.0   0.000412
21           0.0   0.000298
22           0.0   0.000346
23           0.0   0.000167
24           0.0   0.001122
25           0.0   0.000549
26           0.0   0.000427
27           0.0   0.000272
28           0.0   0.000179
29           1.0   0.998171
...          ...        ...
12226        0.0   0.000161
12227        0.0   0.000237
12228        0.0   0.000251
12229        0.0   0.000174
12230        0.0   0.000126
12231        0.0   0.000144
12232        0.0   0.000126
12233        0.0   0.000148
12234        0.0   0.000075
12235        0.0   0.000510
12236        0.0   0.000239
12237        0.0   0.000190
12238        0.0   0.000112
12239        0.0   0.000163
12240        0.0   0.000178
12241        0.0   0.000121
12242        0.0   0.000092
12243        0.0   0.000107
12244        0.0   0.000091
12245        0.0   0.000106
12246        0.0   0.000053
12247        0.0   0.000367
12248        0.0   0.000177
12249        0.0   0.000133
12250        0.0   0.000079
12251        1.0   0.998466
12252        0.0   0.000162
12253        1.0   0.998564
12254        1.0   0.998877
12255        1.0   0.997168

[12256 rows x 13 columns]

#### "IS_PARTIAL" MODEL

In [193]:
X_p = logist_df.drop(['record_date', 'account_number', 'IS_PREPAY', 'IS_FULL', 'IS_PARTIAL'], axis=1)
X_p = X_p.drop(dummies_cols, axis=1)
y_p = logist_df['IS_PARTIAL'].values 

select_features = get_rfe(X_p, y_p)
selectcols = X_p.columns[np.where(select_features)]
print(f'Select index:{selectcols}')

Xp_train = X_p[selectcols]
Xp_train = pd.concat([Xp_train, dummies_df], axis=1) 

yp_pred, yp_prob = model_predict(Xp_train, y_p)
yp_result_df = pd.DataFrame({'partial_pred': yp_pred, 'partial_prob': yp_prob}, columns=['partial_pred', 'partial_prob'])

partial_result = pd.concat([Xp_train, month, yp_result_df], axis=1, join_axes=[Xp_train.index])
partial_result = partial_result.drop(dummies_cols, axis=1)

print(f'IS_PARTIAL result: \n {partial_result}')

Num Features:10
Selected Features:[ True  True  True  True  True  True  True  True  True  True]
Feature Ranking:[1 1 1 1 1 1 1 1 1 1]
Select index:Index(['interest_rate', 'loan_age', 'loan_age_m', 'out_balance', 'prepay_amt',
       'prepay_ratio', 'sch_payment', 'tenor', 'tenor_m', 'time_to_maturity'],
      dtype='object')
original distribution: Counter({0.0: 11326, 1.0: 930})
new distribution: Counter({0.0: 7574, 1.0: 4682})
IS_PARTIAL result:
        interest_rate  loan_age  loan_age_m  out_balance  prepay_amt  \
0               4.75       0.0         1.0   1000000.00         0.0
1              18.11       0.0         2.0   1000000.00         0.0
2              12.07       0.0         3.0   1000000.00         0.0
3              12.57       0.0         4.0   1000000.00         0.0
4               5.42       0.0         5.0   1000000.00         0.0
5               2.49       1.0         6.0   1000000.00         0.0
6               6.59       1.0         7.0   1000000.00   1000000.0
7              12.77       0.0         1.0     80000.00     80000.0
8              18.93       0.0         2.0      8000.00         0.0
9              14.52       0.0         3.0      8000.00      8000.0
10             14.49       0.0         1.0    170000.00    170000.0
11             12.57       0.0         2.0     40000.00    200000.0
12             10.19       0.0         2.0     60000.00     60000.0
13              5.66       0.0         1.0    125000.00    125000.0
14             19.75       0.0         1.0    232000.00    232000.0
15              3.40       0.0         2.0    135000.00    135000.0
16              0.10       0.0         1.0   4184981.30         0.0
17             16.60       0.0         2.0   4167487.99         0.0
18             10.93       0.0         4.0   4158499.47         0.0
19             18.55       0.0         5.0   4149889.04         0.0
20              4.13       0.0         6.0   4141253.49         0.0
21              7.34       1.0         7.0   4132188.46         0.0
22              8.15       1.0         8.0   4123498.72         0.0
23             11.49       1.0         9.0   4114381.90         0.0
24             19.82       1.0        10.0   4114381.90         0.0
25             10.73       1.0        11.0   4097467.45         0.0
26              6.82       1.0        12.0   4088568.67         0.0
27              2.71       1.0        12.0   4088568.67         0.0
28              5.24       0.0         2.0     45000.00         0.0
29             18.69       0.0         3.0     45000.00     45000.0
...              ...       ...         ...          ...         ...
12226           9.04       1.0        16.0   2124674.51         0.0
12227           3.85       1.0        17.0   2120776.20         0.0
12228          12.79       1.0        18.0   2116581.68         0.0
12229           9.62       2.0        19.0   2112651.36         0.0
12230          17.59       2.0        20.0   2108703.42         0.0
12231          10.38       2.0        21.0   2104461.09         0.0
12232          14.25       2.0        22.0   2100480.64         0.0
12233          13.79       2.0        23.0   2096205.75         0.0
12234           6.00       2.0        24.0   2092190.96         0.0
12235          11.93       2.0        25.0   2088159.82         0.0
12236          13.11       2.0        26.0   2088159.82         0.0
12237           4.33       2.0        27.0   2079219.88         0.0
12238          14.12       2.0        28.0   2074861.87         0.0
12239          11.20       2.0        29.0   2070759.76         0.0
12240          13.48       2.0        30.0   2066367.17         0.0
12241          14.38       3.0        31.0   2062230.89         0.0
12242          10.30       3.0        32.0   2058076.63         0.0
12243           1.78       3.0        33.0   2053633.82         0.0
12244          12.73       3.0        34.0   2049444.86         0.0
12245          12.27       3.0        35.0   2044967.87         0.0
12246           9.03       3.0        36.0   2040744.63         0.0
12247           9.64       3.0        37.0   2036502.45         0.0
12248           4.15       3.0        38.0   2031705.51         0.0
12249           7.54       3.0        39.0   2027428.03         0.0
12250          15.86       3.0        40.0   2022863.85         0.0
12251           7.95       0.0         1.0    140000.00    140000.0
12252           8.42       0.0         1.0     25000.00         0.0
12253           5.30       0.0         2.0     25000.00     25000.0
12254          10.03       0.0         2.0     55000.00     55000.0
12255           2.56       0.0         1.0     85000.00     85000.0

       prepay_ratio  sch_payment  tenor  tenor_m  time_to_maturity month  \
0               0.0      4520.83    1.0     12.0               1.0     1
1               0.0      4083.33    1.0     12.0               1.0     2
2               0.0      4520.84    1.0     12.0               1.0     3
3               0.0      4375.00    1.0     12.0               1.0     4
4               0.0      4520.83    1.0     12.0               1.0     5
5               0.0      4375.00    1.0     12.0               0.0     6
6               1.0      4520.83    1.0     12.0               0.0     7
7               1.0         0.00    0.0      0.0               0.0     1
8               0.0        37.89    0.0      0.0               0.0     1
9               1.0        34.22    0.0      0.0               0.0     2
10              1.0         0.00    0.0      0.0               0.0     9
11              1.0       818.06    0.0      0.0               0.0     1
12              1.0         0.00    0.0      0.0               0.0     6
13              1.0         0.00    0.0      0.0               0.0    11
14              1.0         0.00    0.0      0.0               0.0     4
15              1.0       542.82    0.0      0.0               0.0    12
16              0.0     21143.69    7.0     84.0               7.0     5
17              0.0     21143.69    7.0     84.0               7.0     6
18              0.0     21143.69    7.0     84.0               7.0     7
19              0.0     21143.69    7.0     84.0               7.0     8
20              0.0     21143.69    7.0     84.0               7.0     9
21              0.0     21143.69    7.0     84.0               6.0    10
22              0.0     21143.69    7.0     84.0               6.0    11
23              0.0     21143.69    7.0     84.0               6.0    12
24              0.0     21703.36    7.0     84.0               6.0     1
25              0.0     21703.36    7.0     84.0               6.0     2
26              0.0     21703.36    7.0     84.0               6.0     3
27              0.0     21703.36    7.0     84.0               6.0     4
28              0.0       215.62    0.0      0.0               0.0     9
29              1.0       222.82    0.0      0.0               0.0    10
...             ...          ...    ...      ...               ...   ...
12226           0.0     12587.72    7.0     84.0               6.0     4
12227           0.0     12587.72    7.0     84.0               6.0     5
12228           0.0     12587.72    7.0     84.0               6.0     6
12229           0.0     12587.72    7.0     84.0               5.0     7
12230           0.0     12587.72    7.0     84.0               5.0     8
12231           0.0     12587.72    7.0     84.0               5.0     9
12232           0.0     12587.72    7.0     84.0               5.0    10
12233           0.0     12587.72    7.0     84.0               5.0    11
12234           0.0     12587.72    7.0     84.0               5.0    12
12235           0.0     12587.72    7.0     84.0               5.0     1
12236           0.0     12587.72    7.0     84.0               5.0     2
12237           0.0     12587.72    7.0     84.0               5.0     3
12238           0.0     12587.72    7.0     84.0               5.0     4
12239           0.0     12587.72    7.0     84.0               5.0     5
12240           0.0     12587.72    7.0     84.0               5.0     6
12241           0.0     12587.72    7.0     84.0               4.0     7
12242           0.0     12587.72    7.0     84.0               4.0     8
12243           0.0     12587.72    7.0     84.0               4.0     9
12244           0.0     12587.72    7.0     84.0               4.0    10
12245           0.0     12587.72    7.0     84.0               4.0    11
12246           0.0     12587.72    7.0     84.0               4.0    12
12247           0.0     12587.72    7.0     84.0               4.0     1
12248           0.0     12587.72    7.0     84.0               4.0     2
12249           0.0     12587.72    7.0     84.0               4.0     3
12250           0.0     12587.72    7.0     84.0               4.0     4
12251           1.0         0.00    0.0      0.0               0.0     9
12252           0.0     25000.00    0.0      0.0               0.0    10
12253           1.0     25129.86    0.0      0.0               0.0    11
12254           1.0       275.00    0.0      0.0               0.0     6
12255           1.0         0.00    0.0      0.0               0.0    12

       partial_pred  partial_prob
0               0.0      0.419663
1               0.0      0.395735
2               0.0      0.417357
3               0.0      0.390728
4               0.0      0.415511
5               0.0      0.458477
6               0.0      0.287275
7               0.0      0.202124
8               0.0      0.440001
9               0.0      0.197998
10              0.0      0.206035
11              0.0      0.217179
12              0.0      0.205450
13              0.0      0.217739
14              0.0      0.192998
15              0.0      0.235770
16              0.0      0.254650
17              0.0      0.236981
18              0.0      0.215325
19              0.0      0.226896
20              0.0      0.267327
21              0.0      0.275827
22              0.0      0.282728
23              0.0      0.293551
24              0.0      0.263386
25              0.0      0.286124
26              0.0      0.302206
27              0.0      0.285700
28              0.0      0.467942
29              0.0      0.187781
...             ...           ...
12226           0.0      0.369827
12227           0.0      0.390301
12228           0.0      0.384755
12229           0.0      0.366101
12230           0.0      0.380890
12231           0.0      0.416092
12232           0.0      0.405288
12233           0.0      0.416448
12234           0.0      0.455903
12235           0.0      0.427108
12236           0.0      0.430057
12237           0.0      0.460900
12238           0.0      0.411017
12239           0.0      0.426797
12240           0.0      0.436983
12241           0.0      0.407915
12242           0.0      0.452145
12243           0.0      0.491928
12244           0.0      0.463601
12245           0.0      0.475090
12246           1.0      0.504128
12247           0.0      0.487887
12248           1.0      0.507283
12249           1.0      0.508732
12250           0.0      0.461633
12251           0.0      0.213623
12252           0.0      0.352036
12253           0.0      0.147694
12254           0.0      0.204452
12255           0.0      0.231517

[12256 rows x 13 columns]

In [83]:
def get_rfe(X,y,n_features_to_select=10):
    """
    Perform Recursive Feature Elimination (RFE), which is based on the idea to repeatedly construct a model and 
    choose either the best or worst performing feature.
    """
        
    # Initialise the Scaler 
    scaled_X = StandardScaler().fit_transform(X.values)
    
    #SMOTE
    sm = SMOTE(random_state=0)
    X_oversampled, y_oversampled = sm.fit_sample(scaled_X,y)
    
    #logistic regression
    logreg = LogisticRegression()

    #rfe
    rfe = RFE(estimator = logreg, n_features_to_select=10,step=1)
    rfe = rfe.fit(X_oversampled, y_oversampled)
    select_features = rfe.support_
    
    print(f'Num Features:{rfe.n_features_}')
    print(f'Selected Features:{rfe.support_}')
    print(f'Feature Ranking:{rfe.ranking_}')

    return select_features

In [ ]:
# append index and list together

In [102]:
def stepwise_selection(X,y,threshold = 0.05): 
        '''
        Perform backward elimination, get rid of pvalue smaller than 0.05
        '''
        logit_model = st.Logit(y,X)
        result = logit_model.fit()
        
        excluded = []
        included = list(set(X.columns))
        for i, column in enumerate (included):
            if result.pvalues[i]<= threshold:
                excluded.append(column)
        
        included = list(set(X.columns)-set(excluded))
        print(f'resulting features:{included}')
        
        return included

In [105]:
included = stepwise_selection(X_V,y)

Optimization terminated successfully.
         Current function value: 0.004331
         Iterations 20
resulting features:['interest_rate', 'prepay_amt', 'prepay_ratio', 'sch_payment', 'time_to_maturity']

In [86]:
def model_predict(X_train,y_train):
    """
    Output model prediction.

    Arguments:
    X_train: dataframe after filtering unnecessary features 
    """   
        
    #summarize class distribution
    counter = Counter(y_train)
    print(f'original distribution: {counter}')

    # Initialise the Scaler 
    scaled_X = StandardScaler().fit_transform(X_train.values)

    #Oversample with SMOTE
    sm = SMOTE(random_state=0)
    X_train_oversampled, y_train_oversampled = sm.fit_sample(scaled_X,y_train)

    #logistic regression
    logreg = LogisticRegression()
    logreg.fit(X_train_oversampled, y_train_oversampled)
    y_pred = logreg.predict(scaled_X)
    y_prob = logreg.predict_proba(scaled_X)
   
    #summarize the new class distribution
    counter = Counter(y_pred)
    print(f'new distribution: {counter}')

    return y_pred, y_prob[:,1]

In [110]:
class Model:
    def __init__(self,X,y):
        self.X = X
        self.y = y
        
    def remove_cor_features(self,threshold = 0.8):
        '''
        Removing Correlated Features: check if the correlation between two columns is greater than threshold correlation
        '''
        
        correlated_features = set()
        correlation_matrix = self.X.drop(['IS_FULL','IS_PARTIAL'], axis=1).corr()

        for i in range(len(correlation_matrix.columns)):
            for j in range(i):
                if abs(correlation_matrix.iloc[i, j]) > threshold:
                    colname = correlation_matrix.columns[i]
                    correlated_features.add(colname)
        return correlated_features

    def get_rfe(self,n_features_to_select=10):
        '''
        Perform Recursive Feature Elimination (RFE), which is based on the idea to repeatedly construct a model and 
        choose either the best or worst performing feature.
        '''
        
        # Initialise the Scaler 
        scaled_X = StandardScaler().fit_transform(self.X.values)
        
        #SMOTE
        sm = SMOTE(random_state=0)
        X_oversampled, y_oversampled = sm.fit_sample(scaled_X,self.y)
        
        #logistic regression
        logreg = LogisticRegression()
    
        #rfe
        rfe = RFE(estimator=logreg, n_features_to_select=10, step=1)
        rfe = rfe.fit(X_oversampled, y_oversampled)
        select_features = rfe.support_
        
        print(f'Num Features:{rfe.n_features_}')
        print(f'Selected Features:{rfe.support_}')
        print(f'Feature Ranking:{rfe.ranking_}')
        return select_features
          
    def stepwise_selection(self,threshold = 0.05): 
        '''
        Perform backward elimination: get rid of pvalue smaller than threshold(0.05)
        '''
        logit_model = st.Logit(self.y,self.X)
        result = logit_modelt_model.fit()
        
        excluded = []
        included = list(set(self.X.colums))
        for i, column in enumerate (included):
            if result.pvalues[i]<= threshold:
                excluded.append(column)
        included = list(set(self.X.columns)-set(excluded))
        print(f'resulting features:{included}')
        
        return included       
    
    def model_predict(self):
        """
        Output model prediction.

        Arguments:
        X_train: dataframe after filtering unnecessary features 
        """    
        # need to edit 
        select_features = self.get_rfe()
        select_cols = self.X.columns[np.where(select_features)]
        X_train = self.X[select_cols]
        y_train = self.y
        
        #summarize class distribution
        counter = Counter(y)
        print(f'original distribution: {counter}')
        
        # Initialise the Scaler 
        scaled_X = StandardScaler().fit_transform(X_train.values)
        
        # oversample with SMOTE
        sm = SMOTE(random_state=0)
        X_train_oversampled, y_train_oversampled = sm.fit_sample(scaled_X,y_train)
        
        #logistic regression
        logreg = LogisticRegression()
        
        #logistic regression
        logreg = LogisticRegression()
        logreg.fit(X_train_oversampled, y_train_oversampled)   
        y_pred = logreg.predict(scaled_X)
        y_prob = logreg.predict_proba(scaled_X)
        
        #summarize the new class distribution
        counter = Counter(y_pred)
        print(f'new distribution: {counter}')
        
        return y_pred

In [111]:
model = Model(X,y)

result = model.model_predict

In [112]:
result

## K-Fold cross validation + Over-sampling

### Imbalanced Dataset
<p> The prepayment observations in the data set account for just approximately xx% of the total number of observations.<br>Prepayments are rare events.This imbalance usually leads to an <b>underestimation</b> of the probability of belonging to the <b>rare class</b> and an overestimation of the probability of belonging to the majority class.</p>
<p>We talk of an <i>imbalanced data</i> set when the amount of observations of one class is signiﬁcantly smaller than the amount of the other class.High imbalance is really common in real world problems where the model goal is to ﬁnd rare but important cases. This kind of framework is identiﬁed as anomaly detection problem, and the prediction of prepayment events in a pool of mortgages is one of these cases, where most of the mortgages will not prepay and just a small part will do.</p>

### Over-sampling
<p>Two approaches to make a balanced dataset out of an imbalanced one are under-sampling and over-sampling. Here we use oversmpling to deal with the dataset.<b>Oversampling</b> is used when the quantity of data is insufficient. It tries to balance dataset by increasing the size of rare samples. Rather than getting rid of abundant samples, new rare samples are generated by using e.g. repetition, bootstrapping or SMOTE (Synthetic Minority Over-Sampling Technique)</p>


###  Use K-fold Cross-Validation in the right way
<p>It is noteworthy that cross-validation should be applied properly while using over-sampling method to address imbalance problems.</p>

<p>Keep in mind that over-sampling takes observed rare samples and applies bootstrapping to generate new random data based on a distribution function. If cross-validation is applied after over-sampling, basically what we are doing is overfitting our model to a specific artificial bootstrapping result. That is why cross-validation should always be done before over-sampling the data, just as how feature selection should be implemented. Only by resampling the data repeatedly, randomness can be introduced into the dataset to make sure that there won’t be an overfitting problem.</p>

![title](https://i.stack.imgur.com/L0p6c.png)

In [314]:
total_acc = np.array(list(set(logist_df.account_number)))

In [315]:
# Random shuffle the account of this data
random.seed(101)
random.shuffle(total_acc)

In [316]:
kfold = KFold(n_splits= 10)

In [112]:
### Over-sampling after split the data into 10 folds
# from imblearn.over_sampling import RandomOverSampler 
# ros = RandomOverSampler(random_state=42)

In [111]:
## test 
class oversampled_Kfold():
    def __init__(self, n_splits, n_repeats=1):
        self.n_splits = n_splits
        self.n_repeats = n_repeats

    def get_n_splits(self, X, y, groups=None):
        return self.n_splits*self.n_repeats

    def split(self, X, y, groups=None):
        splits = np.split(np.random.choice(len(X), len(X),replace=False), 10)
        train, test = [], []
        for repeat in range(self.n_repeats):
            for idx in range(len(splits)):
                trainingIdx = np.delete(splits, idx)
                Xidx_r, y_r = ros.fit_resample(trainingIdx.reshape((-1,1)), y[trainingIdx])
                train.append(Xidx_r.flatten())
                test.append(splits[idx])
        return list(zip(train, test))


rkf = oversampled_Kfold(n_splits=10, n_repeats=2)

output = cross_validate(clf,x,y, scoring='r2',cv=rkf)

<B>"IS_FULL" MODEL</B>

In [328]:
def model_validation(total_acc, model_type, df):
    '''
    Perform a 10-folds cross-validation 
    Arguments:
        model_type - "IS_FULL" or "IS_PARTIAL"
        total_acc - an unique list of total account
    Returns: 
        result of 10-fold cross validation

    '''
    ##### KFold cross validation ####
    kfold = KFold(n_splits = 10) # Define the split - into 10 folds
    for train_acc_index, test_acc_index in kfold.split(total_acc):
                
        train = df[df['account_number'].isin(total_acc[train_acc_index])]
        test = df[df['account_number'].isin(total_acc[test_acc_index])]
        
        X_train = train.drop(['account_number', 'IS_FULL', 'IS_PARTIAL'], axis=1)
        X_test = test.drop(['account_number', 'IS_FULL', 'IS_PARTIAL'], axis=1)

        y_train = train[model_type].values
        y_test = test[model_type].values
        
        # Initialise the Scaler 
        scaled_Xtrain = StandardScaler().fit_transform(X_train.values)
        scaled_Xtest = StandardScaler().fit_transform(X_test.values)
        print(f'scaled_Xtrain:\n {scaled_Xtrain}')
        print(f'scaled_Xtest:\n {scaled_Xtest}')
        
        # SMOTE
        smote = SMOTE(random_state=0)
        X_train_oversampled, y_train_oversampled = smote.fit_sample(scaled_Xtrain, y_train)
        
        #logistic regression
        logreg = LogisticRegression()
        logreg.fit(X_train_oversampled, y_train_oversampled)
        #logreg.fit(scaled_Xtrain, y_train)
        y_pred = logreg.predict(scaled_Xtest)
        print(f'Accuracy: {logreg.score(scaled_Xtest, y_test)}')
        print(f'f-score: {f1_score(y_test, y_pred)}')
        
        # AUC 
        #roc_auc_score(y_train,logreg.predict_proba(scaled_Xtrain)[:,1])
        print(f'AUC score:{roc_auc_score(y_train,logreg.predict_proba(scaled_Xtrain)[:,1])}')

In [330]:
Xf_kf_df = pd.concat([account_number, Xf_train,IS_FULL, IS_PARTIAL], axis=1)

In [333]:
Xp_kf_df = pd.concat([account_number, Xp_train,IS_FULL, IS_PARTIAL], axis=1)

In [332]:
model_validation(total_acc, 'IS_FULL', Xf_kf_df)

scaled_Xtrain:
 [[-0.90041734 -1.03516024 -1.03099168 ... -0.30581769 -0.30420192
  -0.30185795]
 [ 1.41914476 -1.03516024 -0.99648304 ... -0.30581769 -0.30420192
  -0.30185795]
 [ 0.37048046 -1.03516024 -0.96197441 ... -0.30581769 -0.30420192
  -0.30185795]
 ...
 [-0.26323224 -1.03516024 -1.03099168 ...  3.26992204 -0.30420192
  -0.30185795]
 [-0.80492638 -1.03516024 -0.99648304 ... -0.30581769  3.28729023
  -0.30185795]
 [-1.28064496 -1.03516024 -1.03099168 ... -0.30581769 -0.30420192
   3.31281648]]
scaled_Xtest:
 [[ 1.58666302 -1.11441913 -1.0737917  ... -0.30114491 -0.29820265
  -0.2996762 ]
 [ 0.80852482 -1.11441913 -1.03467345 ... -0.30114491 -0.29820265
  -0.2996762 ]
 [-0.90126184 -1.11441913 -1.11290996 ... -0.30114491 -0.29820265
  -0.2996762 ]
 ...
 [-0.84303381 -0.19910049 -0.25230838 ... -0.30114491 -0.29820265
  -0.2996762 ]
 [-0.29427875 -0.19910049 -0.21319013 ... -0.30114491 -0.29820265
  -0.2996762 ]
 [ 0.01627073 -1.11441913 -1.0737917  ... -0.30114491 -0.29820265
  -0.2996762 ]]
Accuracy: 1.0
f-score: 1.0
AUC score:0.9998742048385435
scaled_Xtrain:
 [[-0.89960277 -1.06488267 -1.06188003 ... -0.30595747 -0.30228706
  -0.3017603 ]
 [ 1.41837936 -1.06488267 -1.02657711 ... -0.30595747 -0.30228706
  -0.3017603 ]
 [ 0.37042936 -1.06488267 -0.99127418 ... -0.30595747 -0.30228706
  -0.3017603 ]
 ...
 [-0.26285169 -1.06488267 -1.06188003 ...  3.2684281  -0.30228706
  -0.3017603 ]
 [-0.80417685 -1.06488267 -1.02657711 ... -0.30595747  3.30811382
  -0.3017603 ]
 [ 0.01648598 -1.06488267 -1.02657711 ... -0.30595747 -0.30228706
  -0.3017603 ]]
scaled_Xtest:
 [[-1.1709479  -0.8313837  -0.78843498 ... -0.2981424  -0.31707217
   3.33254893]
 [-0.3844713  -0.8313837  -0.8202307  ... -0.2981424  -0.31707217
  -0.30007061]
 [-0.82418322 -0.8313837  -0.78843498 ... -0.2981424  -0.31707217
  -0.30007061]
 ...
 [-1.47660131 -0.8313837  -0.8202307  ...  3.35410197 -0.31707217
  -0.30007061]
 [-1.46230173 -0.8313837  -0.78843498 ... -0.2981424   3.15385613
  -0.30007061]
 [-1.32109343 -0.8313837  -0.8202307  ... -0.2981424  -0.31707217
   3.33254893]]
Accuracy: 0.9970845481049563
f-score: 0.9904153354632589
AUC score:0.9998954307454033
scaled_Xtrain:
 [[-0.90377642 -1.02611777 -1.02167391 ... -0.30615048 -0.30436024
  -0.30075866]
 [ 1.42479682 -1.02611777 -0.98702253 ... -0.30615048 -0.30436024
  -0.30075866]
 [ 0.37205862 -1.02611777 -0.95237115 ... -0.30615048 -0.30436024
  -0.30075866]
 ...
 [-0.8079145  -1.02611777 -0.98702253 ... -0.30615048  3.28558028
  -0.30075866]
 [ 0.01649803 -1.02611777 -0.98702253 ... -0.30615048 -0.30436024
  -0.30075866]
 [-1.28548117 -1.02611777 -1.02167391 ... -0.30615048 -0.30436024
   3.32492508]]
scaled_Xtest:
 [[ 0.48303456 -1.19173043 -1.19283892 ... -0.29826517 -0.2967589
  -0.30867061]
 [ 0.77706853 -1.19173043 -1.19283892 ... -0.29826517 -0.2967589
  -0.30867061]
 [-1.55297971 -1.19173043 -1.19283892 ... -0.29826517 -0.2967589
  -0.30867061]
 ...
 [-0.09648588 -1.19173043 -1.19283892 ... -0.29826517 -0.2967589
  -0.30867061]
 [-1.54956071 -1.19173043 -1.15516822 ... -0.29826517 -0.2967589
  -0.30867061]
 [-1.07773877 -1.19173043 -1.15516822 ... -0.29826517 -0.2967589
  -0.30867061]]
Accuracy: 0.9969742813918305
f-score: 0.9865771812080537
AUC score:0.9998769006124233
scaled_Xtrain:
 [[-0.90737541 -1.0310731  -1.02618165 ... -0.30421619 -0.30211218
  -0.30105652]
 [ 1.41777689 -1.0310731  -0.99140545 ... -0.30421619 -0.30211218
  -0.30105652]
 [ 0.36658528 -1.0310731  -0.95662925 ... -0.30421619 -0.30211218
  -0.30105652]
 ...
 [-0.81165432 -1.0310731  -0.99140545 ... -0.30421619  3.3100287
  -0.30105652]
 [ 0.01154705 -1.0310731  -0.99140545 ... -0.30421619 -0.30211218
  -0.30105652]
 [-1.28851939 -1.0310731  -1.02618165 ... -0.30421619 -0.30211218
   3.32163541]]
scaled_Xtest:
 [[ 1.74822593 -1.1730966  -1.18095714 ... -0.31689562 -0.31872763
  -0.30763164]
 [ 0.39746552 -1.1730966  -1.14404891 ... -0.31689562 -0.31872763
  -0.30763164]
 [-0.77169458 -1.1730966  -1.18095714 ... -0.31689562 -0.31872763
   3.25064096]
 ...
 [-0.14560588 -1.1730966  -1.10714067 ... -0.31689562 -0.31872763
  -0.30763164]
 [-0.63160291 -1.1730966  -1.14404891 ... -0.31689562 -0.31872763
   3.25064096]
 [ 0.7710433  -1.1730966  -1.14404891 ... -0.31689562  3.1374751
  -0.30763164]]
Accuracy: 1.0
f-score: 1.0
AUC score:0.9998698579788052
scaled_Xtrain:
 [[-0.90097298 -1.03690932 -1.03367721 ... -0.30462451 -0.3038939
  -0.30206227]
 [ 1.4210549  -1.03690932 -0.99882409 ... -0.30462451 -0.3038939
  -0.30206227]
 [ 0.37127583 -1.03690932 -0.96397098 ... -0.30462451 -0.3038939
  -0.30206227]
 ...
 [-0.80538052 -1.03690932 -0.99882409 ... -0.30462451  3.2906221
  -0.30206227]
 [ 0.01671468 -1.03690932 -0.99882409 ... -0.30462451 -0.3038939
  -0.30206227]
 [-1.2816048  -1.03690932 -1.03367721 ... -0.30462451 -0.3038939
   3.31057562]]
scaled_Xtest:
 [[ 0.45722989 -1.08087939 -1.03554258 ... -0.31010926 -0.3010772
  -0.2984635 ]
 [ 1.21228004  0.17540465  0.03001267 ... -0.31010926 -0.3010772
  -0.2984635 ]
 [ 1.48493704  0.17540465  0.06553118 ... -0.31010926 -0.3010772
  -0.2984635 ]
 ...
 [-0.6246591  -1.08087939 -1.03554258 ... -0.31010926 -0.3010772
   3.35049346]
 [ 0.25798054 -1.08087939 -1.07106109 ... -0.31010926 -0.3010772
  -0.2984635 ]
 [-1.23988515 -1.08087939 -1.03554258 ... -0.31010926 -0.3010772
  -0.2984635 ]]
Accuracy: 0.996042216358839
f-score: 0.9801324503311257
AUC score:0.9999275240767342
scaled_Xtrain:
 [[-0.89999722 -1.03749239 -1.03286736 ... -0.30563722 -0.30335942
  -0.30089364]
 [ 1.42026603 -1.03749239 -0.99801991 ... -0.30563722 -0.30335942
  -0.30089364]
 [ 0.37128474 -1.03749239 -0.96317245 ... -0.30563722 -0.30335942
  -0.30089364]
 ...
 [-0.34424555 -1.03749239 -1.03286736 ... -0.30563722 -0.30335942
  -0.30089364]
 [ 0.01699304 -1.03749239 -0.99801991 ... -0.30563722 -0.30335942
  -0.30089364]
 [-1.28033978 -1.03749239 -1.03286736 ... -0.30563722 -0.30335942
   3.32343345]]
scaled_Xtest:
 [[-0.76309891 -1.09370121 -1.09662222 ... -0.3018198   3.27326835
  -0.30916125]
 [-0.83728795 -1.09370121 -1.06073583 ... -0.3018198  -0.30550505
  -0.30916125]
 [ 1.53852786 -1.09370121 -1.02484943 ...  3.31323529 -0.30550505
  -0.30916125]
 ...
 [ 1.03863501  0.17173167  0.30294715 ... -0.3018198  -0.30550505
  -0.30916125]
 [-0.27557091 -1.09370121 -1.09662222 ...  3.31323529 -0.30550505
  -0.30916125]
 [-0.82668952 -1.09370121 -1.06073583 ... -0.3018198   3.27326835
  -0.30916125]]
Accuracy: 1.0
f-score: 1.0
AUC score:0.9998806268330255
scaled_Xtrain:
 [[ 0.49175164 -1.03091185 -1.027245   ... -0.30400682 -0.30292612
  -0.30202358]
 [ 1.56342561 -1.03091185 -0.99270815 ... -0.30400682 -0.30292612
  -0.30202358]
 [ 0.79620447 -1.03091185 -0.9581713  ... -0.30400682 -0.30292612
  -0.30202358]
 ...
 [-0.80782702 -1.03091185 -0.99270815 ... -0.30400682  3.30113493
  -0.30202358]
 [ 0.01506549 -1.03091185 -0.99270815 ... -0.30400682 -0.30292612
  -0.30202358]
 [-1.28451317 -1.03091185 -1.027245   ... -0.30400682 -0.30292612
   3.31099974]]
scaled_Xtest:
 [[-0.89006874 -1.1504887  -1.14390038 ... -0.31571063 -0.30854392
  -0.29832325]
 [ 1.42841392 -1.1504887  -1.10515825 ... -0.31571063 -0.30854392
  -0.29832325]
 [ 0.38023762 -1.1504887  -1.06641611 ... -0.31571063 -0.30854392
  -0.29832325]
 ...
 [ 0.62666318 -0.24171065 -0.33031556 ... -0.31571063 -0.30854392
  -0.29832325]
 [-1.2145869  -0.24171065 -0.29157342 ... -0.31571063 -0.30854392
  -0.29832325]
 [-0.25491556 -0.24171065 -0.25283129 ... -0.31571063 -0.30854392
  -0.29832325]]
Accuracy: 0.9962852897473997
f-score: 0.9841269841269841
AUC score:0.9998702397902917
scaled_Xtrain:
 [[-0.9044801  -1.03983183 -1.03531616 ... -0.30608711 -0.3045234
  -0.30260497]
 [ 1.42557224 -1.03983183 -1.00025747 ... -0.30608711 -0.3045234
  -0.30260497]
 [ 0.37216534 -1.03983183 -0.96519877 ... -0.30608711 -0.3045234
  -0.30260497]
 ...
 [-0.80855728 -1.03983183 -1.00025747 ... -0.30608711  3.28381985
  -0.30260497]
 [ 0.01637891 -1.03983183 -1.00025747 ... -0.30608711 -0.3045234
  -0.30260497]
 [-1.2864273  -1.03983183 -1.03531616 ... -0.30608711 -0.3045234
   3.30463839]]
scaled_Xtest:
 [[ 0.04235092 -1.07179351 -1.03968907 ... -0.29633695 -0.29228862
  -0.29025002]
 [-1.66006071 -1.07179351 -1.07337546 ... -0.29633695 -0.29228862
  -0.29025002]
 [ 1.12386316 -1.07179351 -1.03968907 ... -0.29633695 -0.29228862
  -0.29025002]
 ...
 [-1.32092817 -1.07179351 -1.07337546 ... -0.29633695 -0.29228862
  -0.29025002]
 [ 0.36967288 -1.07179351 -1.07337546 ... -0.29633695 -0.29228862
  -0.29025002]
 [-0.33558784 -1.07179351 -1.07337546 ... -0.29633695 -0.29228862
  -0.29025002]]

Accuracy: 1.0
f-score: 1.0
AUC score:0.9998794643021802
scaled_Xtrain:
 [[-0.89814586 -1.06844795 -1.06539691 ... -0.30452486 -0.30324883
  -0.300686  ]
 [ 1.42814669 -1.06844795 -1.02907391 ... -0.30452486 -0.30324883
  -0.300686  ]
 [ 0.37643958 -1.06844795 -0.99275092 ... -0.30452486 -0.30324883
  -0.300686  ]
 ...
 [-0.80237783 -1.06844795 -1.02907391 ... -0.30452486  3.29762201
  -0.300686  ]
 [ 0.02122725 -1.06844795 -1.02907391 ... -0.30452486 -0.30324883
  -0.300686  ]
 [-1.27947675 -1.06844795 -1.06539691 ... -0.30452486 -0.30324883
   3.32572854]]
scaled_Xtest:
 [[ 0.84222843 -0.92511825 -0.88966179 ... -0.31093242 -0.30569767
  -0.3083223 ]
 [-1.15844482 -0.92511825 -0.86144929 ... -0.31093242 -0.30569767
  -0.3083223 ]
 [-0.94439522 -0.92511825 -0.8332368  ...  3.216133   -0.30569767
  -0.3083223 ]
 ...
 [-0.6699284  -0.92511825 -0.88966179 ... -0.31093242 -0.30569767
  -0.3083223 ]
 [-0.0243272  -0.92511825 -0.86144929 ... -0.31093242 -0.30569767
  -0.3083223 ]
 [ 0.50389197 -0.92511825 -0.91787428 ... -0.31093242 -0.30569767
  -0.3083223 ]]
Accuracy: 0.9966352624495289
f-score: 0.9832775919732442
AUC score:0.9999253292751171
scaled_Xtrain:
 [[-0.90187007 -1.05396669 -1.04977777 ... -0.30597581 -0.30457066
  -0.30245486]
 [ 1.4203878  -1.05396669 -1.01516535 ... -0.30597581 -0.30457066
  -0.30245486]
 [ 0.37050475 -1.05396669 -0.98055292 ... -0.30597581 -0.30457066
  -0.30245486]
 ...
 [-0.80626813 -1.05396669 -1.01516535 ... -0.30597581  3.28331035
  -0.30245486]
 [ 0.01590849 -1.05396669 -1.01516535 ... -0.30597581 -0.30457066
  -0.30245486]
 [-1.28253958 -1.05396669 -1.04977777 ... -0.30597581 -0.30457066
   3.3062785 ]]
scaled_Xtest:
 [[-1.08909136  1.39881584  1.37502391 ... -0.29854364 -0.29315098
  -0.29315098]
 [ 0.23187569  1.39881584  1.41500369 ... -0.29854364 -0.29315098
  -0.29315098]
 [-1.43376754  1.39881584  1.45498347 ... -0.29854364 -0.29315098
  -0.29315098]
 ...
 [-1.132832   -0.00801251  0.05569125 ... -0.29854364 -0.29315098
  -0.29315098]
 [-0.0865561  -0.00801251  0.09567103 ... -0.29854364 -0.29315098
  -0.29315098]
 [-1.06634624 -0.00801251  0.13565081 ... -0.29854364 -0.29315098
  -0.29315098]]
Accuracy: 0.9955035971223022
f-score: 0.9838187702265372
AUC score:0.9998341773453179

In [334]:
model_validation(total_acc, 'IS_PARTIAL', Xp_kf_df)

scaled_Xtrain:
 [[-0.90041734 -1.03516024 -1.03099168 ... -0.30581769 -0.30420192
  -0.30185795]
 [ 1.41914476 -1.03516024 -0.99648304 ... -0.30581769 -0.30420192
  -0.30185795]
 [ 0.37048046 -1.03516024 -0.96197441 ... -0.30581769 -0.30420192
  -0.30185795]
 ...
 [-0.26323224 -1.03516024 -1.03099168 ...  3.26992204 -0.30420192
  -0.30185795]
 [-0.80492638 -1.03516024 -0.99648304 ... -0.30581769  3.28729023
  -0.30185795]
 [-1.28064496 -1.03516024 -1.03099168 ... -0.30581769 -0.30420192
   3.31281648]]
scaled_Xtest:
 [[ 1.58666302 -1.11441913 -1.0737917  ... -0.30114491 -0.29820265
  -0.2996762 ]
 [ 0.80852482 -1.11441913 -1.03467345 ... -0.30114491 -0.29820265
  -0.2996762 ]
 [-0.90126184 -1.11441913 -1.11290996 ... -0.30114491 -0.29820265
  -0.2996762 ]
 ...
 [-0.84303381 -0.19910049 -0.25230838 ... -0.30114491 -0.29820265
  -0.2996762 ]
 [-0.29427875 -0.19910049 -0.21319013 ... -0.30114491 -0.29820265
  -0.2996762 ]
 [ 0.01627073 -1.11441913 -1.0737917  ... -0.30114491 -0.29820265
  -0.2996762 ]]
Accuracy: 0.6198960653303638
f-score: 0.10175438596491229
AUC score:0.6870250342947114
scaled_Xtrain:
 [[-0.89960277 -1.06488267 -1.06188003 ... -0.30595747 -0.30228706
  -0.3017603 ]
 [ 1.41837936 -1.06488267 -1.02657711 ... -0.30595747 -0.30228706
  -0.3017603 ]
 [ 0.37042936 -1.06488267 -0.99127418 ... -0.30595747 -0.30228706
  -0.3017603 ]
 ...
 [-0.26285169 -1.06488267 -1.06188003 ...  3.2684281  -0.30228706
  -0.3017603 ]
 [-0.80417685 -1.06488267 -1.02657711 ... -0.30595747  3.30811382
  -0.3017603 ]
 [ 0.01648598 -1.06488267 -1.02657711 ... -0.30595747 -0.30228706
  -0.3017603 ]]
scaled_Xtest:
 [[-1.1709479  -0.8313837  -0.78843498 ... -0.2981424  -0.31707217
   3.33254893]
 [-0.3844713  -0.8313837  -0.8202307  ... -0.2981424  -0.31707217
  -0.30007061]
 [-0.82418322 -0.8313837  -0.78843498 ... -0.2981424  -0.31707217
  -0.30007061]
 ...
 [-1.47660131 -0.8313837  -0.8202307  ...  3.35410197 -0.31707217
  -0.30007061]
 [-1.46230173 -0.8313837  -0.78843498 ... -0.2981424   3.15385613
  -0.30007061]
 [-1.32109343 -0.8313837  -0.8202307  ... -0.2981424  -0.31707217
   3.33254893]]
Accuracy: 0.8415937803692906
f-score: 0.02395209580838323
AUC score:0.7090051086693889
scaled_Xtrain:
 [[-0.90377642 -1.02611777 -1.02167391 ... -0.30615048 -0.30436024
  -0.30075866]
 [ 1.42479682 -1.02611777 -0.98702253 ... -0.30615048 -0.30436024
  -0.30075866]
 [ 0.37205862 -1.02611777 -0.95237115 ... -0.30615048 -0.30436024
  -0.30075866]
 ...
 [-0.8079145  -1.02611777 -0.98702253 ... -0.30615048  3.28558028
  -0.30075866]
 [ 0.01649803 -1.02611777 -0.98702253 ... -0.30615048 -0.30436024
  -0.30075866]
 [-1.28548117 -1.02611777 -1.02167391 ... -0.30615048 -0.30436024
   3.32492508]]
scaled_Xtest:
 [[ 0.48303456 -1.19173043 -1.19283892 ... -0.29826517 -0.2967589
  -0.30867061]
 [ 0.77706853 -1.19173043 -1.19283892 ... -0.29826517 -0.2967589
  -0.30867061]
 [-1.55297971 -1.19173043 -1.19283892 ... -0.29826517 -0.2967589
  -0.30867061]
 ...
 [-0.09648588 -1.19173043 -1.19283892 ... -0.29826517 -0.2967589
  -0.30867061]
 [-1.54956071 -1.19173043 -1.15516822 ... -0.29826517 -0.2967589
  -0.30867061]
 [-1.07773877 -1.19173043 -1.15516822 ... -0.29826517 -0.2967589
  -0.30867061]]
Accuracy: 0.5211800302571861
f-score: 0.17470664928292048
AUC score:0.7038455359131999
scaled_Xtrain:
 [[-0.90737541 -1.0310731  -1.02618165 ... -0.30421619 -0.30211218
  -0.30105652]
 [ 1.41777689 -1.0310731  -0.99140545 ... -0.30421619 -0.30211218
  -0.30105652]
 [ 0.36658528 -1.0310731  -0.95662925 ... -0.30421619 -0.30211218
  -0.30105652]
 ...
 [-0.81165432 -1.0310731  -0.99140545 ... -0.30421619  3.3100287
  -0.30105652]
 [ 0.01154705 -1.0310731  -0.99140545 ... -0.30421619 -0.30211218
  -0.30105652]
 [-1.28851939 -1.0310731  -1.02618165 ... -0.30421619 -0.30211218
   3.32163541]]
scaled_Xtest:
 [[ 1.74822593 -1.1730966  -1.18095714 ... -0.31689562 -0.31872763
  -0.30763164]
 [ 0.39746552 -1.1730966  -1.14404891 ... -0.31689562 -0.31872763
  -0.30763164]
 [-0.77169458 -1.1730966  -1.18095714 ... -0.31689562 -0.31872763
   3.25064096]
 ...
 [-0.14560588 -1.1730966  -1.10714067 ... -0.31689562 -0.31872763
  -0.30763164]
 [-0.63160291 -1.1730966  -1.14404891 ... -0.31689562 -0.31872763
   3.25064096]
 [ 0.7710433  -1.1730966  -1.14404891 ... -0.31689562  3.1374751
  -0.30763164]]
Accuracy: 0.5408261287223823
f-score: 0.10150375939849623
AUC score:0.6977796193714383
scaled_Xtrain:
 [[-0.90097298 -1.03690932 -1.03367721 ... -0.30462451 -0.3038939
  -0.30206227]
 [ 1.4210549  -1.03690932 -0.99882409 ... -0.30462451 -0.3038939
  -0.30206227]
 [ 0.37127583 -1.03690932 -0.96397098 ... -0.30462451 -0.3038939
  -0.30206227]
 ...
 [-0.80538052 -1.03690932 -0.99882409 ... -0.30462451  3.2906221
  -0.30206227]
 [ 0.01671468 -1.03690932 -0.99882409 ... -0.30462451 -0.3038939
  -0.30206227]
 [-1.2816048  -1.03690932 -1.03367721 ... -0.30462451 -0.3038939
   3.31057562]]
scaled_Xtest:
 [[ 0.45722989 -1.08087939 -1.03554258 ... -0.31010926 -0.3010772
  -0.2984635 ]
 [ 1.21228004  0.17540465  0.03001267 ... -0.31010926 -0.3010772
  -0.2984635 ]
 [ 1.48493704  0.17540465  0.06553118 ... -0.31010926 -0.3010772
  -0.2984635 ]
 ...
 [-0.6246591  -1.08087939 -1.03554258 ... -0.31010926 -0.3010772
   3.35049346]
 [ 0.25798054 -1.08087939 -1.07106109 ... -0.31010926 -0.3010772
  -0.2984635 ]
 [-1.23988515 -1.08087939 -1.03554258 ... -0.31010926 -0.3010772
  -0.2984635 ]]
Accuracy: 0.7275725593667546
f-score: 0.14137214137214135
AUC score:0.7129654802180845
scaled_Xtrain:
 [[-0.89999722 -1.03749239 -1.03286736 ... -0.30563722 -0.30335942
  -0.30089364]
 [ 1.42026603 -1.03749239 -0.99801991 ... -0.30563722 -0.30335942
  -0.30089364]
 [ 0.37128474 -1.03749239 -0.96317245 ... -0.30563722 -0.30335942
  -0.30089364]
 ...
 [-0.34424555 -1.03749239 -1.03286736 ... -0.30563722 -0.30335942
  -0.30089364]
 [ 0.01699304 -1.03749239 -0.99801991 ... -0.30563722 -0.30335942
  -0.30089364]
 [-1.28033978 -1.03749239 -1.03286736 ... -0.30563722 -0.30335942
   3.32343345]]
scaled_Xtest:
 [[-0.76309891 -1.09370121 -1.09662222 ... -0.3018198   3.27326835
  -0.30916125]
 [-0.83728795 -1.09370121 -1.06073583 ... -0.3018198  -0.30550505
  -0.30916125]
 [ 1.53852786 -1.09370121 -1.02484943 ...  3.31323529 -0.30550505
  -0.30916125]
 ...
 [ 1.03863501  0.17173167  0.30294715 ... -0.3018198  -0.30550505
  -0.30916125]
 [-0.27557091 -1.09370121 -1.09662222 ...  3.31323529 -0.30550505
  -0.30916125]
 [-0.82668952 -1.09370121 -1.06073583 ... -0.3018198   3.27326835
  -0.30916125]]
Accuracy: 0.48874296435272047
f-score: 0.2605156037991859
AUC score:0.6904701685491671
scaled_Xtrain:
 [[ 0.49175164 -1.03091185 -1.027245   ... -0.30400682 -0.30292612
  -0.30202358]
 [ 1.56342561 -1.03091185 -0.99270815 ... -0.30400682 -0.30292612
  -0.30202358]
 [ 0.79620447 -1.03091185 -0.9581713  ... -0.30400682 -0.30292612
  -0.30202358]
 ...
 [-0.80782702 -1.03091185 -0.99270815 ... -0.30400682  3.30113493
  -0.30202358]
 [ 0.01506549 -1.03091185 -0.99270815 ... -0.30400682 -0.30292612
  -0.30202358]
 [-1.28451317 -1.03091185 -1.027245   ... -0.30400682 -0.30292612
   3.31099974]]
scaled_Xtest:
 [[-0.89006874 -1.1504887  -1.14390038 ... -0.31571063 -0.30854392
  -0.29832325]
 [ 1.42841392 -1.1504887  -1.10515825 ... -0.31571063 -0.30854392
  -0.29832325]
 [ 0.38023762 -1.1504887  -1.06641611 ... -0.31571063 -0.30854392
  -0.29832325]
 ...
 [ 0.62666318 -0.24171065 -0.33031556 ... -0.31571063 -0.30854392
  -0.29832325]
 [-1.2145869  -0.24171065 -0.29157342 ... -0.31571063 -0.30854392
  -0.29832325]
 [-0.25491556 -0.24171065 -0.25283129 ... -0.31571063 -0.30854392
  -0.29832325]]
Accuracy: 0.44205052005943535
f-score: 0.22974358974358974
AUC score:0.6982524891179267
scaled_Xtrain:
 [[-0.9044801  -1.03983183 -1.03531616 ... -0.30608711 -0.3045234
  -0.30260497]
 [ 1.42557224 -1.03983183 -1.00025747 ... -0.30608711 -0.3045234
  -0.30260497]
 [ 0.37216534 -1.03983183 -0.96519877 ... -0.30608711 -0.3045234
  -0.30260497]
 ...
 [-0.80855728 -1.03983183 -1.00025747 ... -0.30608711  3.28381985
  -0.30260497]
 [ 0.01637891 -1.03983183 -1.00025747 ... -0.30608711 -0.3045234
  -0.30260497]
 [-1.2864273  -1.03983183 -1.03531616 ... -0.30608711 -0.3045234
   3.30463839]]
scaled_Xtest:
 [[ 0.04235092 -1.07179351 -1.03968907 ... -0.29633695 -0.29228862
  -0.29025002]
 [-1.66006071 -1.07179351 -1.07337546 ... -0.29633695 -0.29228862
  -0.29025002]
 [ 1.12386316 -1.07179351 -1.03968907 ... -0.29633695 -0.29228862
  -0.29025002]
 ...
 [-1.32092817 -1.07179351 -1.07337546 ... -0.29633695 -0.29228862
  -0.29025002]
 [ 0.36967288 -1.07179351 -1.07337546 ... -0.29633695 -0.29228862
  -0.29025002]
 [-0.33558784 -1.07179351 -1.07337546 ... -0.29633695 -0.29228862
  -0.29025002]]

Accuracy: 0.36427850655903127
f-score: 0.06250000000000001
AUC score:0.6896103169704968
scaled_Xtrain:
 [[-0.89814586 -1.06844795 -1.06539691 ... -0.30452486 -0.30324883
  -0.300686  ]
 [ 1.42814669 -1.06844795 -1.02907391 ... -0.30452486 -0.30324883
  -0.300686  ]
 [ 0.37643958 -1.06844795 -0.99275092 ... -0.30452486 -0.30324883
  -0.300686  ]
 ...
 [-0.80237783 -1.06844795 -1.02907391 ... -0.30452486  3.29762201
  -0.300686  ]
 [ 0.02122725 -1.06844795 -1.02907391 ... -0.30452486 -0.30324883
  -0.300686  ]
 [-1.27947675 -1.06844795 -1.06539691 ... -0.30452486 -0.30324883
   3.32572854]]
scaled_Xtest:
 [[ 0.84222843 -0.92511825 -0.88966179 ... -0.31093242 -0.30569767
  -0.3083223 ]
 [-1.15844482 -0.92511825 -0.86144929 ... -0.31093242 -0.30569767
  -0.3083223 ]
 [-0.94439522 -0.92511825 -0.8332368  ...  3.216133   -0.30569767
  -0.3083223 ]
 ...
 [-0.6699284  -0.92511825 -0.88966179 ... -0.31093242 -0.30569767
  -0.3083223 ]
 [-0.0243272  -0.92511825 -0.86144929 ... -0.31093242 -0.30569767
  -0.3083223 ]
 [ 0.50389197 -0.92511825 -0.91787428 ... -0.31093242 -0.30569767
  -0.3083223 ]]
Accuracy: 0.30955585464333785
f-score: 0.18700475435816166
AUC score:0.6862679398284184
scaled_Xtrain:
 [[-0.90187007 -1.05396669 -1.04977777 ... -0.30597581 -0.30457066
  -0.30245486]
 [ 1.4203878  -1.05396669 -1.01516535 ... -0.30597581 -0.30457066
  -0.30245486]
 [ 0.37050475 -1.05396669 -0.98055292 ... -0.30597581 -0.30457066
  -0.30245486]
 ...
 [-0.80626813 -1.05396669 -1.01516535 ... -0.30597581  3.28331035
  -0.30245486]
 [ 0.01590849 -1.05396669 -1.01516535 ... -0.30597581 -0.30457066
  -0.30245486]
 [-1.28253958 -1.05396669 -1.04977777 ... -0.30597581 -0.30457066
   3.3062785 ]]
scaled_Xtest:
 [[-1.08909136  1.39881584  1.37502391 ... -0.29854364 -0.29315098
  -0.29315098]
 [ 0.23187569  1.39881584  1.41500369 ... -0.29854364 -0.29315098
  -0.29315098]
 [-1.43376754  1.39881584  1.45498347 ... -0.29854364 -0.29315098
  -0.29315098]
 ...
 [-1.132832   -0.00801251  0.05569125 ... -0.29854364 -0.29315098
  -0.29315098]
 [-0.0865561  -0.00801251  0.09567103 ... -0.29854364 -0.29315098
  -0.29315098]
 [-1.06634624 -0.00801251  0.13565081 ... -0.29854364 -0.29315098
  -0.29315098]]
Accuracy: 0.7868705035971223
f-score: 0.16842105263157897
AUC score:0.6822338990844068

### Evaluating Logistic Models 

<p>The <b>Area Under Curve (AUC)</b> is the area under the ROC curve and serves as a single number performance summary of the classifier. AUC is often used as evaluation metric in imbalanced class problems, therefore it makes sense to directly optimize it in the training process. </p>

<p><b>F1 Score</b> might be a better measure to use if we need to seek a balance between Precision and Recall AND there is an uneven class distribution (large number of Actual Negatives). F1 score reaches its best value at 1 (perfect precision and recall) and worst at 0. </p>

### SMM Calculation

<p>SMM is a measure of the monthly mortgage prepayment rate of the security’s mortgage pool.</p>

In [363]:
whole_result = pd.concat([record_date, Xp_train, month, IS_FULL, yf_result_df, IS_PARTIAL, yp_result_df], axis=1,
                         join_axes=[Xp_train.index])

In [364]:
whole_result = whole_result.drop(dummies_df, axis=1)

In [262]:
prepay_perM = whole_result[whole_result['IS_PARTIAL']==1].groupby(['record_date']).agg({'prepay_amt':'sum'}).reset_index()

In [278]:
#SMM calculation

def SMM_Cal_perMonth(givenDate,prepay_perM,tenor_M,df):
    
    '''
    givenMonth: specific month in a year
    prepay_perM: a dataframe which shows aggregated prepay amount each month.  
    tenor_M: A granularity variable 
    df: final result dataframe
    partial_prob : result coming from "IS_PARTIAL" model
    full_prob : result coming from "IS_FULL" model
    '''
    try:
        selectDF = df[(df['record_date']== givenDate) & (df['tenor_m']== tenor_M)]
        M_bar_t = sum(prepay_perM[prepay_perM['record_date'] == givenDate]['prepay_amt'])/sum(selectDF['partial_prob']*(selectDF['out_balance']-selectDF['sch_payment']))
        partial_prepay = sum(selectDF['partial_prob'] *M_bar_t* (selectDF['out_balance']-selectDF['sch_payment']))
        full_prepay = sum(selectDF['full_prob']*(selectDF['out_balance']-selectDF['sch_payment']))
        total_prepay = sum(selectDF['out_balance']-selectDF['sch_payment'])
        SMM_t = (partial_prepay + full_prepay) / total_prepay
        #print(M_bar_t,partial_prepay,full_prepay,total_prepay)
        return SMM_t

    except ZeroDivisionError:
        
        return print('you have denominator 0')

#### SMM summary

*speed test*

In [358]:
st=time.time()
datelist = []
SMMlist = []
for index, row in prepay_perM.iterrows():
    givenDate = row['record_date']
    datelist.append(givenDate)
    SMM = SMM_Cal_perMonth(givenDate, prepay_perM, 120, whole_result)
    SMMlist.append(SMM)
SMM_df = pd.DataFrame({'Date':datelist,'SMM_per': SMMlist}, columns=['Date','SMM_per'])
print(time.time()-st)

0.2499985694885254

In [356]:
st=time.time()
datelist = []
SMMlist = []
for  row in prepay_perM.itertuples():
    givenDate = row.record_date
    datelist.append(givenDate)
    SMM = SMM_Cal_perMonth(givenDate, prepay_perM, 120, whole_result)
    SMMlist.append(SMM)
SMM_df = pd.DataFrame({'Date':datelist,'SMM_per': SMMlist}, columns=['Date','SMM_per'])
print(time.time()-st)

0.2099921703338623

In [295]:
def SMM_summary(prepay_perM, tenor_M, df):
    datelist = []
    SMMlist = []
    for row in prepay_perM.itertuples():
        givenDate = row.record_date
        datelist.append(givenDate)
        SMM = SMM_Cal_perMonth(givenDate, prepay_perM, tenor_M, df)
        SMMlist.append(SMM)
    SMM_df = pd.DataFrame({'Date':datelist,'SMM_per': SMMlist}, columns=['Date','SMM_per'])
    return SMM_df

In [284]:
partial_prepay_df = whole_result[whole_result['IS_PARTIAL']==1]

partial_prepayM = partial_prepay_df.groupby(['record_date']).agg({'prepay_amt':'sum'}).reset_index()
partial_prepayM_120 = partial_prepay_df[partial_prepay_df['tenor_m']== 120].groupby(['record_date']).agg({'prepay_amt':'sum'}).reset_index()
partial_prepayM_180 = partial_prepay_df[partial_prepay_df['tenor_m']== 180].groupby(['record_date']).agg({'prepay_amt':'sum'}).reset_index()
partial_prepayM_240 = partial_prepay_df[partial_prepay_df['tenor_m']== 240].groupby(['record_date']).agg({'prepay_amt':'sum'}).reset_index()
partial_prepayM_360 = partial_prepay_df[partial_prepay_df['tenor_m']== 360].groupby(['record_date']).agg({'prepay_amt':'sum'}).reset_index()

In [300]:
SMM_total = SMM_summary(partial_prepayM, whole_result['tenor_m'], whole_result)
SMM_120 = SMM_summary(partial_prepayM_120, 120, whole_result)
SMM_180 = SMM_summary(partial_prepayM_180, 180, whole_result)
SMM_240 = SMM_summary(partial_prepayM_240, 240, whole_result)
SMM_360 = SMM_summary(partial_prepayM_360, 360, whole_result)

In [367]:
SMM_total_mean = SMM_total.SMM_per.mean()
SMM_120_mean = SMM_120.SMM_per.mean()
SMM_180_mean = SMM_180.SMM_per.mean()
SMM_240_mean = SMM_240.SMM_per.mean()
SMM_360_mean = SMM_360.SMM_per.mean()

In [374]:
SMM_summary_list = [SMM_120_mean,SMM_180_mean,SMM_240_mean,SMM_360_mean]

In [366]:
print(f'SMM total mean is : {SMM_total.SMM_per.mean()}')
print(f'SMM_120 total mean is : {SMM_120.SMM_per.mean()}')
print(f'SMM_180 total mean is : {SMM_180.SMM_per.mean()}')
print(f'SMM_240 total mean is : {SMM_240.SMM_per.mean()}')
print(f'SMM_360 total mean is : {SMM_360.SMM_per.mean()}')

SMM total mean is : 0.024106090133460774
SMM_120 total mean is : 0.006328286700979139
SMM_180 total mean is : 0.0007514003968577605
SMM_240 total mean is : nan
SMM_360 total mean is : nan

### Calculate the behavior tenor

In [218]:
def behavior_tenor(full_prob, contractor_tenor): 
    '''
    Calculate the behavior tenor

    Data description:
        Behavior tenor is the expected life of a real estate loan before being paid off. 
        we make the following assumptions in deriving BT:
         i). A real esate loan is paid off either at contractual maturity or after the borrower has made a full prepayment.
         ii). BT varies with the contractual tenor of the loan.
         iii). The full prepayment of a real estate loan is constant across time and account for a given tenor.

    '''
    sum_value = 0
    for i in range(1,contractor_tenor-1):
        calculate = i * full_prob * ((1-full_prob) ** (i-1))
        sum_value += calculate
    BT = sum_value + contractor_tenor * ((1-full_prob) ** (contractor_tenor-1))
    return BT

In [207]:
full_prob_120M = np.mean(whole_result[whole_result['tenor_m']==120]['full_prob'])
full_prob_180M = np.mean(whole_result[whole_result['tenor_m']==180]['full_prob'])
full_prob_240M = np.mean(whole_result[whole_result['tenor_m']==240]['full_prob'])
full_prob_360M = np.mean(whole_result[whole_result['tenor_m']==360]['full_prob'])

In [219]:
BT_120 = behavior_tenor(full_prob_120M, 120)
BT_180 = behavior_tenor(full_prob_180M, 180)
BT_240 = behavior_tenor(full_prob_240M, 240)
BT_360 = behavior_tenor(full_prob_360M, 360)

In [376]:
BT_list = [BT_120, BT_180, BT_240, BT_360]

In [220]:
print(BT_120,BT_180,BT_240,BT_360)

55.94527851443435 45.94570713696076 nan nan

In [381]:
output = pd.DataFrame(data = {'SMM':SMM_summary_list,'Behavior tenor': BT_list}, index=['120M','180M','240M','360M'])

In [382]:
output

           SMM  Behavior tenor
120M  0.006328       55.945279
180M  0.000751       45.945707
240M       NaN             NaN
360M       NaN             NaN